[2011-01-28 01:16] ekolve opened #1 "uninitialized constant XMLSecurity::SignedDocument::XPath"
While trying to validate a SAML Response I received the following error:
/usr/lib/ruby/gems/1.8/gems/ruby-saml-0.2.1/lib/xml_sec.rb:55:in `validate_doc': uninitialized constant XMLSecurity::SignedDocument::XPath (NameError)
    from /usr/lib/ruby/gems/1.8/gems/ruby-saml-0.2.1/lib/xml_sec.rb:48:in`validate'
    from /usr/lib/ruby/gems/1.8/gems/ruby-saml-0.2.1/lib/onelogin/saml/response.rb:21:in `is

[2011-01-29 01:48] #1 closed, assigned to nobody

[2011-01-31 20:23] ekolve opened #2 "test failure for xml_security_test"
The test xml_security_test.rb contains no assertions.  I added an assertion for validate_doc as follows on line 13:

[code]

And I receive the following error.  I am running Ruby 1.8.7 P330.  I forked and commited the change to git://github.com/ekolve/ruby-saml.git

[code]

[2011-02-03 03:03] #2 closed, assigned to nobody

[2011-03-28 04:30] speedjing opened #6 "The result of xml_security_test.rb is failed"
I just print the result of @document.validate_doc(...) in xml_security_test.rb, however the result is "false".
So is the signature verification failed or there is something wrong with the test request?

Code in xml_security_test.rb:
    should "should run validate without throwing NS related exceptions" do
      base64cert = @document.elements["//ds:X509Certificate"].text
      puts @document.vali

[2011-03-28 21:01] #6 closed, assigned to nobody

[2011-04-12 05:23] andyl opened #7 "SAML IdP"
I need to write a SAML Identity Provider (IdP) in Ruby.  Can I do that with this Gem?

[2011-04-12 19:37] #7 closed, assigned to nobody

[2011-04-27 11:27] cmw opened #9 "saml2:EncryptedAssertion"
Hi,

the answer I get from the (Shibboleth) SAML 2 IdP I'm talking to is completely encoded and wrapped in a saml2:EncryptedAssertion element containing a certificate and two ciphers. Ruby-saml doesn't know how to handle this yet and I have not yet found out, how to handle it either.

Is anybody of you familiar with this type of response and perhaps already working on adding this to ruby-saml?

Al

[2011-06-09 04:20] brendon opened #10 "SP metadata"
Hi there, firstly thank you so much for creating this gem! I know I'd be up the river without it! :)

I'm trying to implement the New Zealand Ministry of Education's SSO requirements for my rails app. They are using SAML2 and provide limited support to third parties when it comes to getting it set up. I've gotten to this point with them and can't see a way to generate this information for him usin

[2011-06-11 01:36] brendon opened #11 "Problem verifying integrity of signature from simplesamlphp"
Hi there,

I'm getting mis-matched hashes when trying to verify a signature generated with a simplesamlphp server that we're trying to integrate with. We have no access to that server, so can't debug from that end. Essentially the hashes don't match up at the end of the code segment below. I've checked and the incoming XML specify's that their hash was generated with SHA1. I'm wondering if anyone

[2011-06-16 04:47] #11 closed, assigned to nobody

[2011-06-16 05:00] brendon opened #12 "Remove dependency on abandoned xmlcanonicalizer gem"
It appears that the xmlcanonicalizer gem that is depended upon by ruby-saml has a fairly serious bug that makes it impossible to verify some XML message digests. The team at relevance have fixed the problem in a fork and submitted a patch but it appears that the gem maintainer isn't interested in maintaining this gem anymore.

What does everyone think about creating a new xml canonicalising gem fo

[2011-06-16 05:01] #10 closed, assigned to nobody

[2011-06-17 19:27] #12 closed, assigned to nobody

[2011-07-01 07:54] pederbl opened #14 "Exclusive XML Canonicalization 1.0 is not supported"
Exclusive XML Canonicalization 1.0 (exc_c14n) is not supported. See: http://www.w3.org/TR/xml-exc-c14n/

Unfortunately, I have not found any ruby library that supports Exclusive XML Canonicalization. However, the libxml2 package does have some (not very well documented) support for exc_c14n. Unfortunately, (again) libxml2-ruby doesn't expose exc_c14n in its canonicalize method.

As a first step I

[2011-07-03 11:01] pederbl opened #15 "No support for logout?"
Do you have any plans to support logout requests?

[2011-07-28 02:45] bdorry opened #16 "Ruby-SAML/SimpleSAML - validation fails when attributes are enabled"
Note: I am using canonix for xml canonicalization.

When I have attributes enabled for a service provider validation fails in Ruby-SAML when validating the SAML response. I have tested using SimpleSAML as an SP to connect to my SimpleSAML IdP and validation is successful, as it is with every other service provider I have enabled. The only one that is failing is the Ruby app using Ruby SAML.

Admit

[2011-08-19 14:06] ghost opened #17 "NotBefore causing troubles when server times slightly out of sync"
Authentication between an ADFS v2 server and ruby-saml seems to cause problems when there is a slight difference in server time. If the ADFS server's time is a bit ahead, the NotBefore field of the signature appears in the future to ruby-saml and is thus invalid.
This should probably ideally be fixed in some ADFS settings, but they are not very obvious/hard to find. To prevent issues like these wh

[2011-12-08 14:54] HHRy opened #22 "PingIdentity's PingFederate isn't compatible?"
I've been trying to get this version of the plugin working with Ping Identity's Ping Federate locally (we are currently running an older version of this plugin which worked fine, and need to upgrade to support another integration) - however this latest version seems to be incompatible.

The problems seem to be all happening in XmlSecurity - Firstly, I had to change:

[code]

to

[code]

As REXML w

[2011-12-08 16:59] #22 closed, assigned to nobody

[2011-12-08 19:30] danwoolley opened #24 "README.rdoc issue"
Simple change in Service Provider Metadata section:

render :xml => meta.create(settings)

should read

render :xml => meta.generate(settings)

[2011-12-08 19:35] danwoolley opened #25 "XMLSecurity::SignedDocument.validate not recognizing X509Certificate text"
I had this problem with two different providers.  In def validate:

[code]

returned an error because the ds:X509Certificate node was nil.

I changed it to

[code]

and it was able to find the node and return the proper text.

[2012-04-13 02:08] toyokazu opened #27 "Please release ruby-saml 4.8 gem with metadata.rb"
Hi,

Thank you for your development of ruby-saml.
I am using your product in my code rack-saml and it is basically released through RubyGems.
Currently, I have an issue that I can not use Onelogin::Saml::Metadata in RubyGems version of ruby-saml 4.7.

https://github.com/toyokazu/rack-saml/issues/2

If possible, could you release ruby-saml 4.8 with onelogin/saml/metadata.rb.

Best Regards

[2012-04-13 22:29] #27 closed, assigned to nobody

[2012-04-13 22:38] #24 closed, assigned to nobody

[2012-04-14 16:32] toyokazu opened #28 "require wrong path at xml_security.rb (version 0.5.1)"
Sorry, this is re-post from closed issue https://github.com/onelogin/ruby-saml/issues/27

Thank you for your update from 0.4.7 to 0.5.1!

With the new version 0.5.1, when I use Onelogin::Saml::Metadata, I've got the following error

LoadError (cannot load such file -- onelogin/saml/validation_error):

I guess that it is caused by the require method in xml_security.rb.

% vi lib/xml_security.rb
req

[2012-04-14 17:26] #28 closed, assigned to nobody

[2012-04-17 12:20] lawrencepit opened #31 "SHA256 DigestMethod"
I'm receiving the following:

[code]

this doesn't pass in method `validate_doc` as the `hash` calculated in that method assumes the method is always SHA1.

[2012-04-18 17:14] #31 closed, assigned to nobody

[2012-05-25 22:35] loe opened #42 "Don't name controller action 'initialize'"
Spent a few hours fiddling before figuring this out. On rails 2 this is pretty catastrophic and causes very weird issues. Name the action 'init' or 'start' or really anything but the class constructor method name.

[2012-08-01 08:17] zoodor opened #44 "Times contain prohibited time-zone component"
Times that are generated using ruby-saml include a time-zone component (always Z), but by my reading of SAMLCore this is  prohibited in section 1.3.3 - Time Values:

"All SAML time values have the type xs:dateTime, which is built in to the W3C XML Schema Datatypes
312 specification [Schema2], and MUST be expressed in UTC form, **with no time zone component**." (emphasis mine)

Do people disagree w

[2012-11-08 20:20] #15 closed, assigned to nobody

[2012-11-15 23:26] #44 closed, assigned to stouset

[2012-11-15 23:29] #42 closed, assigned to nobody

[2012-11-15 23:30] #25 closed, assigned to nobody

[2012-11-15 23:32] #16 closed, assigned to nobody

[2012-11-15 23:32] #14 closed, assigned to nobody

[2012-12-03 15:13] bohdaq opened #54 "ruby-saml doesn't work with ADFS2 server"
We are trying to use your library to auth with ADFS2 server and validation permanent fails with digest mismatch.

Commited 5 day ago "Fixing XMLSecurity so it works with the StarfieldTMS IdP" by bundacia haven't resolved this issue.

We are trying to run tests and they are failing.  Using  jruby 1.7.0 (1.9.3p203)

[2012-12-05 20:15] #54 closed, assigned to nobody

[2013-01-26 20:31] bmo opened #60 "is_valid? method may only be called once. Should be possible to invoke more than once, or at least documented."
response.is_valid? eventually invokes XMLSecurity::SignedDocument::validate_doc; validate_doc removes the signature and other information from the response documents, so subsequent validate invocations fail with an error similar to:

NoMethodError (undefined method `text' for nil:NilClass):

[2013-01-28 09:43] creativetechnologist opened #62 "Samples Folder"
The page at https://onelogin.zendesk.com/entries/165434-saml-toolkit-for-ruby-on-rails refers to a /samples folder in this repo which I can't see.  Would love to have that to get started with my SAML 2.0 integration.

Richard.

[2013-02-04 23:35] #62 closed, assigned to nobody

[2013-02-04 23:35] #60 closed, assigned to nobody

[2013-02-15 16:07] miguelpais opened #69 "[Single Logout Support] Send a LogoutResponse"
I've been trying to integrate ruby-saml with a rails project of mine, but I need to be able to support a Single Logout scenario which, as far as I could see, the library still doesn't support.

I'm referring to a scenario in which a rails project using ruby-saml initiates an IDP session, which is then used by another SP. After a while, this second SP tries to initiate the log out procedure. Accord

[2013-02-25 22:04] eccegordo opened #70 "response.validate! call fails"
Hi,

I am trying to use ruby-saml with a custom OmniAuth Strategy. I am using version 0.7.2
In my heroku logs I see

[code]

Below is what my OmniAuth callback phase looks like. The failure seems to be around the response.validate! call. Any thoughts on why this is happening? Problem in my code or in ruby-saml? I know I can receive the SAML response if I comment out that

[code]

call. But I am tr

[2013-03-12 17:28] eccegordo opened #74 "Multi Attributes error in SAML parsing"
The following private function creates an issue parsing SAML XML that represents multi-valued fields.

[code]

When the SAML looks like the XML below, you will only see "A" in the ruby hash, and never see the B and C values.

Need to provide a means of XML node access that doesn't use the .first idiom.

REXML::XPath.first

[code]

[2013-04-01 18:44] jdewind opened #77 "Canonicalization in JRuby"
Nokogiri in JRuby does not appear to support canonicalization (https://github.com/sparklemotion/nokogiri/issues/226) properly such that it will create a digest mismatch. It doesn't appear there will be a fix immediately either since there hasn't been any action taken for 4 months.

Unfortunately, the only work around would be to do a "soft" validation or explicitly remove the digest check in JRuby

[2013-05-14 20:40] danwoolley opened #83 "Need ProtocolBinding attribute in auth request root"
A SAML provider is telling us we must add

ProtocolBinding='urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'

in the root of the AuthnRequest. We work with a bunch of providers that do not require this, but this one is telling us they require it. I can see how I would go about adding that into the gem, so I'd be glad to do that and issue a pull request. Before I do that, I just wanted to ask if thi

[2013-05-22 21:26] chadstachowicz opened #87 "NameIDPolicy"
I have been trying for days to get this to work with AD FS 2.0.  No matter what I do the request sent to AD shows the following..

<samlp:AuthnRequest AssertionConsumerServiceURL='https://test.mindsmesh.com:3000/users/auth/saml/callback' Destination='https://dc2012mm.mindsmesh.com/adfs/ls/IdpInitiatedSignon.aspx' ID='_4b0607d0-a553-0130-0f40-2820663a1040' IssueInstant='2013-05-22T21:20:04Z' Versio

[2013-05-30 14:50] exlee opened #88 "Inconsistent Time formats between requests."
[Logout Request](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/logoutrequest.rb#L38) has different time format than [Auth Request](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/authrequest.rb#L38).

Would appreciate info which one is correct. Thanks :)

[2013-06-04 03:32] raimo opened #90 "//ds:DigestMethod w/o namespaces parameter"
Is the namespaces parameter `{'ds' => DSIG}` left intentionally out of:

[code]

at: https://github.com/onelogin/ruby-saml/blob/805428ce4b9bdf5dae6ebd58c0176bf70caa73ea/lib/xml_security.rb#L99

I'm experiencing SHA1 being chosen instead of SHA256 with the following in an assertion that is apparently from ADFS2.0:

[code]

[2013-06-06 10:51] caius opened #91 "Consistent travis build failures"
So each build that's triggered through travis is failing consistently at the minute, due to a loose dependency on the `shoulda-matchers` gem. (An example failure output: https://travis-ci.org/onelogin/ruby-saml/jobs/7745319 )

Basically, it's failing due to the latest shoulda-matchers gem now requiring 1.9.2, and ruby-saml just depending on the latest shoulda-matchers gem blindly. Couple that to t

[2013-06-06 12:11] graaff opened #92 "Support for ForceAuthn AuthnRequest"
As far as I can tell it currently isn't possible to set ForceAuthn=true for an AuthnRequest, as I only see a mention of ForceAuthn in the saml20protocol_schema.xsd.

I guess this could be implemented in a manner similar to IsPassive in 8a825f360d3dc7cb937623b666d6e2f67669bf65 ?

[2013-06-18 13:00] sebastienluquet opened #94 "Support AttributeConsumingServiceIndex in AuthnRequest"
As far as I can tell it currently isn't possible to set AttributeConsumingServiceIndex=some_value for an AuthnRequest, as I only see a mention of AttributeConsumingServiceIndex in the saml20protocol_schema.xsd.

I guess this could be implemented in a manner similar to IsPassive in 8a825f3 or https://github.com/onelogin/ruby-saml/issues/92 ?

[2013-11-01 03:36] bf4 opened #102 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2014-01-14 10:48] timvdl opened #104 "Encrypted response"
Seems like this gem used to handle encrypted responses but got dropped along the way.

Any change it will come back or am I overlooking something? This version is validating the response way better than the old version, a combination of those too seems solid.

[2014-02-21 05:22] todd-richmond opened #106 "nokogiri 1.5 dependency breaks other users"
The new 1.5 enforcement causes bundle to choose 1.5 now, when it had been using 1.6 for quite some time. Can you put the >= 1.5 back and if a constant is required, use a different solution to find it?

[2014-02-26 16:27] pankratovdn opened #113 "Alias for OneLogin::RubySaml"
Why not make available OneLogin::Saml?

[2014-02-26 21:06] #106 closed, assigned to nobody

[2014-03-14 16:18] coder-cooke opened #117 "Packing SAML Response attribute values in an array when there is more than one xml value within a node"
We would like to return the attribute values as an array where there is more than one field in an array.

This is similar to https://github.com/onelogin/ruby-saml/pull/112 but is not identical.  That request is dealing with multiple nodes with the same name, whereas this is one node with multiple values.

[2014-03-17 22:40] phene opened #118 "Feature Request: Construct Settings based on IdP descriptor XML"
I'm looking into implementing this as a PR, but my subject-matter expertise in XPATH is lacking. It would be great if we could construct a `OneLogin::RubySaml::Settings` object based on an IdP's descriptor XML.

[2014-03-18 20:04] #118 closed, assigned to nobody

[2014-03-25 17:32] buffym opened #121 "Latest version of Rake 10.2.0 Does not support Ruby 1.8.7"
Build is failing for 1.8.7 and ree due to an update to rake, requiring ruby 1.9 and up as of 2014-03-24. See https://github.com/jimweirich/rake/blob/master/History.rdoc

ruby-saml will need to require rake 10.1 or lower instead of just 10, or as referenced in #91, drop support for 1.8.7. I tend to agree with @caius regarding dropping 1.8.7 support since it reached EOL in June, 2013.

[2014-04-01 17:36] #117 closed, assigned to nobody

[2014-04-03 12:50] #121 closed, assigned to nobody

[2014-04-17 23:19] aaronchi opened #123 "Signed Request"
Is there any way to generate a signed request?

I see there was one pull request to add support for signed requests which was rejected for other reasons.

[2014-04-22 15:43] d3mcfadden opened #124 "SAML POST Binding Support in AuthNRequest"
This is more of a general question on how you would handle POST binding to the provider with ruby-saml. I see in the docs the Redirect binding is clearly supported and documented:

[code]

I have a need to support the POST binding support and have written some code to do that. There is not anything to currently do this in this lib right?

[2014-04-29 13:18] pitbulk opened #125 "Limit entity expansion when parsing XML to avoid XEE attacks."
XEE attacks details:
https://www.ruby-lang.org/en/news/2008/08/23/dos-vulnerability-in-rexml/

Use entity_expansion_limit

https://www.ruby-lang.org/en/news/2013/02/22/rexml-dos-2013-02-22/

http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2014-8080

[2014-04-29 13:27] pitbulk opened #126 "Take care of XXE (Xml eXternal Entity) Attack"
XXE attacks: https://www.owasp.org/index.php/XML_External_Entity_%28XXE%29_Processing

The ruby-saml uses Nokogiri  at     lib/xml_security.rb , 74

Read about this Nokogiri vulnerability issue:
https://github.com/sparklemotion/nokogiri/issues/693

[2014-05-28 12:23] #94 closed, assigned to nobody

[2014-07-15 17:48] phene opened #140 "Request For Moderation"
If the core team at OneLogin is too busy, would you guys be ok with handing moderatorship to another contributor?  The speed of PR acceptance is a bit slow and I know much of the community would benefit from including many of the open PRs.

[2014-07-19 17:41] munjalpatel opened #141 "How do I log out?"
Which URL do I need to get to in order to log out?

I am using omniauth-saml with devise. This is how my routes.rb look:

[code]

But, when I go to `https://xyz.mysite.dev/users/auth/saml/logout` I get `No route matches [GET] "/users/auth/saml/logout"`

I have made this modification in devise.rb initializer:

[code]

[2014-08-22 08:37] googya opened #145 "is there anything about RelayState?"
I send to  SSO provider a param,  and want the provider send the param without any modifiion, how could I do that? will RelayState  be a option?

[2014-09-08 23:41] #140 closed, assigned to nobody

[2014-09-09 16:52] #17 closed, assigned to nobody

[2014-09-09 17:03] #74 closed, assigned to nobody

[2014-09-09 17:04] #77 closed, assigned to nobody

[2014-09-09 17:05] #83 closed, assigned to nobody

[2014-09-09 17:45] #104 closed, assigned to nobody

[2014-09-09 17:51] pitbulk opened #146 "Namespaces in elements"
The root element should carry the namespace definition.
For example the following authnrequest created by the toolkit:

[code]

should be

[code]

[2014-09-09 17:52] #87 closed, assigned to nobody

[2014-09-09 18:36] #91 closed, assigned to nobody

[2014-09-09 18:56] #102 closed, assigned to nobody

[2014-09-09 18:59] #113 closed, assigned to nobody

[2014-09-09 19:10] #124 closed, assigned to nobody

[2014-09-09 19:17] #141 closed, assigned to nobody

[2014-09-10 09:46] #145 closed, assigned to nobody

[2014-09-12 15:40] cbshakumar opened #148 "Regex XML Character Encoding Mismatch for saml response processing"
When attempting to process a saml response that is not us-ascii, the internal regex expressions of the ruby-saml gem throw out "incompatible encoding regexp match (US-ASCII regexp with UTF-16BE string)".

[2014-09-13 00:45] pbraswell opened #149 "Compatibility with Rails 2.3?"
Hi,
I'm trying to integrate this gem with a very old Rails 2.3 application that needs SAML integration.  Is this gem compatible with RoR 2.3 and Ruby 1.8.7?

I'm using Gem / Bundler, I've included this gem.  Bundle install works ok but when I hit:
http://localhost:8980/saml/init, I get the following Passenger error:

no such file to load -- onelogin/saml

Any ideas on what I might be doing wrong?

[2014-09-22 17:17] #70 closed, assigned to nobody

[2014-10-01 17:40] phene opened #151 "SAMLResponse and IdpMetadataParser assume SHA1 when XMLSecurity supports other SHA variants"
Support for other signing algorithms is only partially supported since, these 2 items

https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L187
https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/idp_metadata_parser.rb#L53

assume the fingerprint should be SHA1.  Instead of passing in the fingerprint, we should provide the certificate so that w

[2014-10-16 14:00] madkingCoder opened #153 "Response validation requires internet"
Using **JRuby 1.7.12**, **ruby-saml 0.8.1**  and  **nokogiri 1.6.3.1-java** we are getting an error validating SAML responses. In particular, **validate_structure** is failing in **response.rb**. We have tracked the problem down to the line:

[code]

in the **xmldsig_schema.xsd** and **xenc_schema.xsd**  files. When reading these files, it attempts to actually retrieve the file http://www.w3.org/2

[2014-10-22 13:15] billyyarosh opened #155 "JRuby Unmatched Digest"
Using JRuby with ruby-saml, I am getting an unmatched digest on the response signatures. I have tried various JVM versions with no luck. I have verified that a MRI runtime works fine. Is there something I'm missing, or is this a known issue. I have seen similar closed issues related to nokugiri canonicalization, nut I am on the latest ruby-saml.

[2014-10-22 13:29] billyyarosh opened #156 "Attributes method [] can raise NoMethodError"
When `Attributes.single_value_compatibility = true`, calling `attributes[:value]` raises a NoMethodError if the key/value pair is not found.

[2014-10-30 17:05] shyam-habarakada opened #161 "question: As a SP, is there a way to define a custom RequestedAttribute in metadata?"
I see that the sample code in ruby-saml-example appears to be capable of displaying any custom attributes send by an IdP, but the metadata XML generation code does not appear to have a way of being explicit about what the SP wants.

Is my understanding correct.

Has anyone built this capability already and/or have thoughts? Would like to see the feature added, but want to discuss first.

Section 2

[2014-10-30 23:44] #156 closed, assigned to nobody

[2014-10-31 16:59] #161 closed, assigned to nobody

[2014-10-31 17:03] #92 closed, assigned to nobody

[2014-10-31 17:05] #90 closed, assigned to nobody

[2014-10-31 17:10] #88 closed, assigned to nobody

[2014-11-02 15:08] shyam-habarakada opened #165 "suggestion: support multiple IdP configurations when constructing settings"
### use case

Multi-tenant SaaS app wants to provide SSO to their customers, where each customer has an IdP and associated configuration data (e.g. certs) of their own.
### issue

The current API has a settings object that combines the SP settings and IdP settings. This is usable in the above case, but not great.
### possible solution

Decouple the settings so that we can specify SP (self) setting

[2014-11-03 20:10] #165 closed, assigned to nobody

[2014-11-10 14:59] #155 closed, assigned to nobody

[2014-11-11 15:54] #146 closed, assigned to pitbulk

[2014-11-12 01:58] #153 closed, assigned to pitbulk

[2014-11-12 02:19] #123 closed, assigned to pitbulk

[2014-11-13 10:32] googya opened #172 "Can ruby-saml deal with PingFederate's SSO ?"
THIS IS NOT A ISSUE!

Can ruby-saml deal with PingFederate's SSO ?  Or is there any method to sovle the problem?

[2014-12-02 08:08] #69 closed, assigned to pitbulk

[2014-12-05 00:22] #151 closed, assigned to pitbulk

[2014-12-05 01:01] #125 closed, assigned to pitbulk

[2014-12-05 01:01] #126 closed, assigned to pitbulk

[2014-12-08 19:35] pitbulk opened #173 "The Issuer is no a required data in the Logout Response"
Currently the Logout Response validation fail if there is no Issuer in the Logout Response XML.

The correct scenario is:
- If there is an Issuer in the XML, validate if the Issuer matches the value of the settings.
- If there is no Issuer in the XML, reply ok.

[2014-12-08 19:54] #173 closed, assigned to nobody

[2014-12-09 13:58] mrluc opened #174 "valid_saml? always returns false when soft=true"
As currently written, the default behavior of valid_saml? is to return false regardless of the validity of the SAML.

https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/saml_message.rb#L15

Edit: whoops, that's no the case -- so I have some output from a client's PingFederate that appears to actually be failing validation with that xsd! Interesting. I'll track it down later i

[2014-12-09 14:42] #174 closed, assigned to nobody

[2014-12-15 18:20] liamnoone opened #177 "Next release"
Is there a timeline or plan for the next release of RubySaml? There hasn't been a release since 0.8.1 in February, and it is missing some key functionality, like security Settings and a metadata fetcher.

While using the `:github` directive in a Gemfile works, it isn't a solution for everyone, and a release bump that's easilly fetched from `gem` would be preferred, at least for me.

Thank you for

[2015-01-19 14:59] draganm opened #180 "chdir makes code non-thread safe"
Hi, while debugging my own code, stumbled over this in saml_message.rb:

      Dir.chdir(File.expand_path(File.join(File.dirname(__FILE__), '..', '..', 'schemas'))) do
          @schema = Nokogiri::XML::Schema(IO.read('saml-schema-protocol-2.0.xsd'))
          @xml = Nokogiri::XML(document.to_s)
       end

In a single threaded environment this is not an issue, but when there are more parallel thr

[2015-01-19 17:41] pitbulk commented on #180
What alternative you suggest?

[2015-01-20 12:01] draganm commented on #180
This at least eliminates chdir at run-time - it only does chdir once when .rb files are required. Should also improve performance since it eliminates disk IO at validation time.

https://github.com/onelogin/ruby-saml/pull/181

[2015-01-22 14:02] snackycracky commented on #77
+1 for ruby-saml v0.8.1 with ruby-1.7.11

[2015-01-23 21:21] Lordnibbler commented on #149
@pbraswell I'm going to close this issue for now, please feel free to comment if you need our assistance in the future.

[2015-01-23 21:21] #149 closed

[2015-01-26 22:40] Lordnibbler commented on #177
@liamnoone ruby-saml 0.8.2 and 0.9 were released today!  0.8.2 fixes a security vulnerability, and 0.9 contains all pull requests from Feb 2014 to present day.

https://rubygems.org/gems/ruby-saml/versions/0.8.2
https://rubygems.org/gems/ruby-saml/versions/0.9

[2015-01-26 22:40] #177 closed

[2015-01-27 20:35] shyam-habarakada commented on #9
What is the status with the work in the decrypt branch? I am looking at it and noticing there hasn't been any new work for ~ 2 months.

[2015-01-27 20:42] pitbulk commented on #9
The [decrypt branch](https://github.com/onelogin/ruby-saml/tree/decrypt) will be merged with some other features.

We still working on that merge and will publish a 1.0 release.

[2015-01-29 09:41] shyam-habarakada opened #186 "Need to update README for encryption key settings"
### This is regarding the current `decrypt` branch

I have gotten a version of what is the decrypt branch to work against ADFS 2.0 as an IdP. However, the process I had to go through to get it working was a lot of trial and error and reading through commits and source in that branch—The README did not help much.

This issue is to determine what to add to the README so I can send in a PR.

In my cu

[2015-01-29 09:41] shyam-habarakada commented on #186
@buffym would love your input on this as well.

[2015-01-29 15:27] pitbulk commented on #186
Hi @shyam-habarakada,

I know that the standard let you use different private_key/cert for signing and encrypting.
My experience in SAML project says to me that 99% of people use the same thing for both method.

My main goal when implementing the OneLogin's SAML Toolkits was to keep the toolkit simple and cover all the main scenarios. We already have complex solutions with complex settings and I'm

[2015-01-29 15:31] buffym commented on #186
Due to time constraints on the project I am working on, I ended up doing encrypted assertions with a different gem. I was planning on taking a look back at this one once this branch was updated and merged. For what it's worth, I agree, w/ @pitbulk regarding signing/encryption keys; every case I've seen, they are the same.

[2015-01-29 15:42] buffym commented on #172
Sorry for the delayed response - no, I never got it working. Due to time constraints, I ended up using https://github.com/digidentity/libsaml for encrypted assertions. Still using ruby-saml for other parts of SSO in our app though.

[2015-01-29 15:57] buffym opened #187 "issuer set to request.host in the README"
In the README examples, issuer/relaying party is set to request.host. While this does work, I came at this gem as a SAML newbie. After much pulling of hair, I have learned that the issuer should most probably be a URL, and not just the host. Once you have clients setup who check the issuer, you can't change it, and some IdP's that I've worked with don't like a non-URL issuer/relaying party. I used

[2015-01-29 17:32] pitbulk commented on #187
Yes, I always follow this practice, is not a must but is high recommended.
Noted. I will mention that on the documentation

[2015-01-29 18:26] buffym commented on #187
Thanks.

[2015-01-29 20:15] TJM opened #188 "Release version 0.9.0 instead of version 0.9"
Just curious why the most recent release was v 0.9?

I am not sure whether it breaks anything, but it seems like its customary to put x.y.z even if the z=0 :)

~tommy

[2015-01-29 21:31] shyam-habarakada commented on #186
I am seeing customers that have different certs, although that is not directly impacting us. As an SP, I can chose to use the same for both signing and encrypting.

In the README it will be good to explain the use cases for the various key and cert and fingerprint options.

I also noticed [this line of code](https://github.com/onelogin/ruby-saml/blob/decrypt/lib/onelogin/ruby-saml/authrequest.rb#L

[2015-01-29 21:40] shyam-habarakada commented on #9
I did use the decrypt branch to integrate with ADFS 2.0 (as the IdP) and was able to successfully enable encryption of the assertions. There were some issues I ran into around documentation and SAML standard compliance, which I have opened #186 to discuss. Thanks.

[2015-01-29 21:58] pitbulk commented on #186
https://github.com/onelogin/ruby-saml/blob/b9cff234cc87c37cce66c4ff326a85686bb49c62/lib/onelogin/ruby-saml/settings.rb#L104

Yes, we may update the README.

[2015-01-30 13:37] buffym commented on #186
@shyam-habarakada I used https://github.com/digidentity/libsaml for encrypted assertions.

[2015-01-30 21:00] TJM opened #189 "Errors when deploying using jruby on Tomcat"
We got the following errors in catalina.out on a Tomcat server when deploying a "jruby" rails app using this gem.

Here is the error output:

[code]

Based on https://gist.github.com/kitplummer/1270732 .. we think it may have something to do with systemu, which is indirectly used by ruby-saml:

[code]

Has anyone else experienced this? Has anyone else made this work in jruby, deployed in a WAR fil

[2015-02-07 08:14] phlipper commented on #188
:+1:

[2015-02-10 22:11] Lordnibbler commented on #188
@TJM @phlipper we're about to release v0.9.1, so I will yank v0.9. It was just a simple mistake, don't think its worth re-releasing at this point.

[2015-02-10 22:16] phlipper commented on #188
@Lordnibbler thanks

[2015-02-10 22:17] TJM commented on #188
sounds good! thanks.

[2015-02-10 22:44] Lordnibbler commented on #188
Closing via:

https://github.com/onelogin/ruby-saml/releases/tag/v0.9.1
https://rubygems.org/gems/ruby-saml/versions/0.9.1

[2015-02-10 22:44] #188 closed

[2015-02-11 02:24] phlipper commented on #180
This is resolved as of c8deef880b7657e34b241a17478ecb49aa21ef8f

[2015-02-11 02:26] #180 closed

[2015-03-03 21:01] #187 closed

[2015-03-05 20:57] Umofomia opened #198 "0.9.1 gem appears to require Nokogiri ~> 1.6.0 on Ruby 1.8.7"
#194 loosened the runtime requirement on Nokogiri so that version `~> 1.6.0` would be accepted for Ruby 1.9 and above:

[code]

However, this code does not appear to be working and `~> 1.6.0` is being enforced for 1.8.7 as well.

The easiest way to reproduce this issue is to create a clean project with the following Gemfile:

[code]

This results in the following:

[code]

If you try to add a vers

[2015-03-05 21:08] Umofomia commented on #198
According to [this blog post](https://www.tiredpixel.com/2014/01/05/curses-conditional-ruby-gem-installation-within-a-gemspec/), gem runtime dependencies appear to be evaluated **at build-time**, not install-time, which is why this does not appear to be working.

A [Wikibooks entry](https://en.wikibooks.org/wiki/Ruby_Programming/RubyGems#How_to_install_different_versions_of_gems_depending_on_which

[2015-03-05 21:55] Lordnibbler commented on #198
@Umofomia Would you be willing to submit a PR that resolves this issue? I'm OK with the wikibooks solution.

[2015-03-06 00:12] Umofomia commented on #198
@Lordnibbler So I tried to implement the Wikibooks solution and it does not really work the way that I originally expect it to. It appears that the extension will *install* the version of nokogiri you specify, but it doesn't really work with bundler at all to make sure that the version that it installs actually resolves with the dependencies in your project's Gemfile.

For instance, I could make t

[2015-03-06 00:13] Lordnibbler commented on #198
@Umofomia Thanks for looking into this issue.

I believe we've previously locked the dependency to `>= 1.5.10`, and this also does not behave as expected in a Ruby 1.8.7 project.  As I recall, it will still attempt to install Nokogiri 1.6.x, despite it having a dependency on Ruby 1.9 or newer.  Give it a shot if you could.

[2015-03-06 00:20] Umofomia commented on #198
@Lordnibbler Yeah, it's not ideal. I've seen other gems deal with this issue by explicitly noting in their README file to specify `~> 1.5.0` in the project's Gemfile when using Ruby 1.8. Take the `aws-sdk` gem for instance:

https://github.com/aws/aws-sdk-ruby/blob/aws-sdk-v1/README.md

How about something similar in the README for this gem?

[2015-03-06 00:21] Lordnibbler commented on #198
@Umofomia I'm ok with this approach -- can you please verify that this works as expected both in 1.8.7 and newer, and submit a pull request?

[2015-03-06 01:47] Umofomia commented on #198
@Lordnibbler I just opened pull request #199 and tested it with various Ruby versions to make sure it works. However it looks like I will need to update the Travis CI configuration to make sure the right version of Nokogiri is installed for 1.8.7 and ree.

[2015-03-06 02:13] Umofomia commented on #198
@Lordnibbler The Travis CI build now passes so check out the pull request when you get the chance. Thanks!

[2015-03-11 02:29] #198 closed

[2015-03-11 02:29] Lordnibbler commented on #198
fixed via https://github.com/onelogin/ruby-saml/pull/199

[2015-03-12 01:58] pitbulk commented on #148
@cbshakumar, any progress with that?

[2015-03-13 01:56] pitbulk commented on #186
I read the documentation and related to [those lines that you commented](https://github.com/onelogin/ruby-saml/blob/decrypt/lib/onelogin/ruby-saml/authrequest.rb#L42), there is a signing section that describes how it works: https://github.com/onelogin/ruby-saml/blob/decrypt/README.md#signing

After merge the encryption support, I will rebuild signature/encryption documentation from the Readme in o

[2015-03-13 23:55] yijia-zhan opened #202 "(Quesiton) SP-Initiated Single Logout"
I have been testing the gem with the **OneLogin SAML Test (IdP w/ attr w/ sign response)** app in OneLogin. I was able to get SSO and IdP-Initiated SLO working. However, there seems to be some issues with for SP-Initiated SLO:

Step-1: I send a `OneLogin::RubySaml::Logoutrequest` to IdP (from `initiate_sp_slo_request `).

For Step-2, for the logout request that I sent in Step-1, instead of receivi

[2015-03-14 00:19] pitbulk commented on #202
Hi @yijia-zhan, I will review this use case on Monday. What ruby-saml and ruby-saml-example version are you using?

[2015-03-14 00:27] yijia-zhan commented on #202
Thanks @pitbulk. I am using latest master of `ruby-saml-example` and 0.9.1 for `ruby-saml`

[2015-03-16 01:28] rafaelgonzalez opened #203 "Pure ruby support?"
Can this be used with pure ruby? Or am I doing something wrong?

I managed to have it working with Rails, but not with ruby only.

All the following steps are reproductible in Rails (including the requirement failure) but for the last one.

**Installation went ok**

[code]

**Requirement described in [README.md](https://github.com/onelogin/ruby-saml/blob/269694335d60ca77d53ce44704421916afbe3f63/RE

[2015-03-17 00:55] rafaelgonzalez commented on #203
Ok, this is simply resolved by requiring `net/http`. I would have expected the gem to do it.

[2015-03-17 01:08] Lordnibbler commented on #203
Hey @rafaelgonzalez -- would you be willing to put together a PR to resolve this issue both for ruby and rails? Thanks for taking the time to look into it!

[2015-03-17 02:04] rafaelgonzalez commented on #203
Sure, I'll try and get around it some time this week.

[2015-03-17 02:25] pitbulk commented on #203
Thanks

[2015-03-17 03:32] rafaelgonzalez commented on #203
I created a PR for the `net/http` issue.

Do you want me to make another PR to update the requirement statements I mentioned here as well?

[2015-03-17 05:21] rafaelgonzalez commented on #203
I created another PR to reflect the requirement instructions in the README. #205

[2015-03-17 14:26] pitbulk commented on #202
Sorry for the delay, I hope to review that soon.

[2015-03-19 18:52] pitbulk commented on #202
Working on that issue

[2015-03-19 19:29] Lordnibbler commented on #203
fixed via https://github.com/onelogin/ruby-saml/pull/204

[2015-03-19 19:29] #203 closed

[2015-03-19 19:44] pitbulk commented on #202
@yijia-zhan There is a problem with the connector (OL side). We will solve that issue.

[2015-03-19 20:17] yijia-zhan commented on #202
@pitbulk Thanks for the update!

[2015-03-19 21:57] rafaelgonzalez commented on #203
Ah right, forgot to close it! Thanks

[2015-03-19 22:02] bwillis opened #209 "sign_document creates invalid SAML payload"
I'm trying to do some integration testing with SAML and am attempting to use XmlSecurity::Document to construct a SAML response. I'm using sign_document to ensure the payload contains the correct `ds:Signature`, but when I attempt to validate it is invalid because the signature contains an invalid attribute `InclusiveNamespaces`. Steps I am performing:

[code]
The validation exception is:
[code]

[2015-03-19 22:15] pitbulk commented on #209
Can you paste the SAML Response that you are trying to validate?
What version of the ruby-saml are you using?

[2015-03-19 23:09] bwillis commented on #209
ruby-saml-0.9.1

Sample SAML Response:
[code]

[2015-03-20 18:56] pitbulk commented on #209
Hi @bwillis, I have to say that this library is used to support SAML Service Provider, so adding embed signature to a SAML Response is out of scope.

In your example you build the XMLSecurity object from an string, but we never used XMLSecurity library in this way, for example review the [create_authentication_xml_doc method](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml

[2015-03-20 19:32] bwillis commented on #209
That's totally fine, but I wouldn't get hung up on the fact I'm using a SAML response to test with here. If you run the valid_saml? against `create_logout_response_xml_doc` it fails in the same manner.

Thanks I did catch that eventually :)

[2015-03-20 19:38] pitbulk commented on #209
I will fix the uuid issue

[2015-03-20 19:55] pitbulk commented on #209
I will keep this issue open, we working on saml validations, encryption and some improvements, but after that I will review that.

[2015-03-20 20:04] bwillis commented on #209
Nice, thanks for the uuid fix, I think that'll make things a little easier.

In order to fix this locally I removed the inserting of InclusiveNamespaces node in the sign_document method, but without understanding why it's there I'm a little worried to just drop it.

[2015-03-20 20:19] pitbulk commented on #209
The namespace of InclusiveNamespaces is not ds, is ec ==>http://www.w3.org/2001/10/xml-exc-c14n#

Fixing that.

[2015-03-20 20:36] pitbulk commented on #209
I applied this change, but after that, some test are failing

[code]

[2015-03-24 16:25] pitbulk commented on #209
@bwillis Now the master branch has this issue solved.

Bug:
* InclusiveNamespaces was placed in the XML in a bad place.
* InclusiveNamespaces was not computed on the sign process.

[2015-03-24 16:25] #209 closed

[2015-03-24 16:28] pitbulk commented on #189
If you experienced problems with uuid,
take a look on this PR and use  the SecureRandom library instead:
https://github.com/onelogin/ruby-saml/pull/206

[2015-03-24 16:28] #189 closed

[2015-03-24 16:47] TJM commented on #189
Does it work in jRuby otherwise? Is that just "noise" or is it a failure?

[2015-03-24 17:44] bwillis commented on #209
I was passively looking into this, but you beat me to it, thanks for fixing this!

[2015-04-01 18:25] Umofomia opened #217 "0.9.2 release?"
I know you guys are busy working on improving validations and supporting encryption, but is there a chance you could publish a new release for all the changes that have gone in since the 0.9.1 release? There have been several bug fixes and pull requests that have gone in so far that would be useful to have before the next major release:

#175 from phlipper/thread-safety
#199 from Umofomia/nokogiri

[2015-04-01 20:19] Lordnibbler commented on #217
@Umofomia I'm a bit slammed with work at the moment -- would you be willing to help by creating a branch for 0.9.2 and adding all merged PRs to the `changelog.md` file? I'll be happy to put out a release.

[2015-04-01 22:02] Umofomia commented on #217
@Lordnibbler No problem; I just opened #219 for this. Thanks for taking it into consideration!

[2015-04-01 22:46] TJM opened #220 "document.validate fails if ds:x509certificate is not embedded in the SAML Response"
We are building an app that is going to do SSO with Ping Federate using ruby-saml, and I am told that the IdP is emitting valid SAMLv2 responses. However, the responses do not contain  the ds:x509certificate stanza. The certificate *is* available in the metadata.xml file, and it matches the signature in the SAML response. I am not sure why the cert would have to be embedded in the response, when i

[2015-04-01 23:03] TJM commented on #220
Quote from: http://stackoverflow.com/questions/1703301/saml-why-is-the-certificate-within-the-signature

[2015-04-01 23:15] pitbulk commented on #220
The ruby-saml gem expects a Signed SAML Response, This Signature may carry a cert.
In our signature validation checking we extract the x509certificate from the SAMLResponse and compare it with the settings.idp_cert or the settings.idp_fingerprint.

Most of the Service Providers implementations works in this way.

The main reason is that most SAML implementations delegate on XMLSignature implementa

[2015-04-02 18:28] Lordnibbler commented on #217
thanks @Umofomia I'll put this on my calendar to release 0.9.2 shortly

[2015-04-08 19:20] numsweb commented on #202
I am having this (or a similar) issue with the SLO (was using 0.8.1 but upgraded to 0.9.1 with the same results). I am sending the logout request to :
LogoutRequest Destination='https://idp.ref.gfipm.net/idp/profile/SAML2/Redirect/SSO'

and the response I get from their website is an error page that says:

ERROR

An error occurred while processing your request. Please contact your helpdesk or user

[2015-04-08 19:28] numsweb commented on #202
here is the logout_request that gets generated, if that helps:

Created SLO Logout Request: <samlp:LogoutRequest Destination='https://idp.ref.gfipm.net/idp/profile/SAML2/Redirect/SSO' ID='_e543ede0-c052-0132-2c62-3c15c2de9eba' IssueInstant='2015-04-08T19:26:45Z' Version='2.0' xmlns:saml='urn:oasis:names:tc:SAML:2.0:assertion' xmlns:samlp='urn:oasis:names:tc:SAML:2.0:protocol'><saml:Issuer>http://l

[2015-04-09 06:01] TimMoore commented on #220
@pitbulk would you consider accepting a pull request that makes it optional in the response document if `settings.idp_cert` is defined?

[2015-04-09 11:29] pitbulk commented on #220
@TimMoore, I posted why we implemented all our toolkits requiring the x509certificate data.

I think is easier configuring the Identity Provider side to inject the ds:x509certificate.
99% of Identity Provider implementations do that.

[2015-04-09 16:07] TJM commented on #220
In our case, I was told that "it is a valid SAMLv2 response" by the IdP admins, which according to what I found above, is correct. They acted like including the certificate made it an "anchored" SAML assertion, which changed something about the validation. I basically just responded with a link to the code and a "text" description of the algorithm, which seemed to satisfy them. They "checked a che

[2015-04-09 17:45] pitbulk commented on #220
@TJM I appreciate it. Right now there are other priorities in the toolkit development process, but we will consider to add a settings to allow SAMLResponse without fingerprint, but this specific change means several changes on the code.

[2015-04-24 15:21] kritiagg opened #224 "Errno::ENOENT (No such file or directory @ rb_sysopen - /nonexistent/.ruby-uuid):"
I am trying to deploy a rails application using apache and passenger. I have also integrated it with Okta for authentication. Though everything seems to be working fine after bypassing the authentication or by using thin/webrick server. I am getting the following error in my error logs if I use apache:

    Errno::ENOENT (No such file or directory @ rb_sysopen - /nonexistent/.ruby-uuid):

It stops

[2015-04-28 23:08] #217 closed

[2015-04-29 16:24] Lordnibbler commented on #217
@Umofomia sorry for the delay: https://rubygems.org/gems/ruby-saml/versions/0.9.2

[2015-04-29 17:09] Umofomia commented on #217
@Lordnibbler No problem... thanks for doing the release!

[2015-04-30 23:36] justingaylor opened #228 "OneLogin::RubySaml::Utils.format_private_key causes 'undefined method `index' for nil:NilClass'"
The below line sets `key` to `nil` when no newlines are found in the key (i.e. if it has already been formatted):
https://github.com/onelogin/ruby-saml/blob/45f9493ad6fd2aaf95323d3ffc8bf769263a818a/lib/onelogin/ruby-saml/utils.rb#L35

This causes the subsequent line to trigger a `NoMethodError` ("undefined method `index' for nil:NilClass" ).

[code]

[2015-05-04 17:27] ivanoblomov opened #230 "Clarification on signed authentication requests"
A client library cites the lack of signed auth requests as a limitation (limitation #2 in https://github.com/apokalipto/devise_saml_authenticatable#limitations) and says this occurs in the ruby-saml layer...

https://github.com/apokalipto/devise_saml_authenticatable/issues/11#issuecomment-98765454

After thinking about it, can't we just install an SSL cert on the client app to make the SAML reques

[2015-05-04 17:40] pitbulk commented on #230
Notice that the ruby-saml toolkit is able to sign Authentication Request:
https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/authrequest.rb#L65

Read more info here:
https://github.com/onelogin/ruby-saml#signing

[2015-05-04 21:26] #228 closed

[2015-05-05 00:26] patcheng commented on #220
One thing we noticed if you generate the metadata xml before you set the idp_cert in settings, the generated metadata claims that signed response is not required.

so, if the IDP admin generates the metadata xml first (before setting the idp_cert), the response won't be signed. But once they changed the configure to respond with signed request everything works.

instead of relaxing SAML response t

[2015-05-05 23:13] theicfire opened #233 "Recipient attribute not checked"
I'm fairly new to SAML, I'm curious why ruby-saml doesn't check any of:
- InResponseTo
- saml:AudienceRestriction
- recipient attribute

For the last one, 6.4.2 says "The Service Provider site MUST check the Recipient attribute of the SAML response": http://docs.oasis-open.org/security/saml/v2.0/saml-sec-consider-2.0-os.pdf)

[2015-05-05 23:48] pitbulk commented on #233
We developed this functionality but is still under revision:
https://github.com/onelogin/ruby-saml/pull/197

(notice that this PR was so complex and I'm splitting it in minor PRs)

Soon all that and more will be covered.

[2015-05-05 23:48] #233 closed

[2015-05-07 23:22] pitbulk commented on #224
First time I see this error, can you be more verbose on the trace error?

[2015-05-07 23:24] pitbulk commented on #220
@patcheng, The toolkit reject any unsigned request.

[2015-05-08 11:11] kritiagg commented on #224
The issue was coming because the process did not have permissions on a folder. Its solved now.

[2015-05-08 11:11] #224 closed

[2015-05-13 16:01] patcheng commented on #220
I think that's the issue.

When processing the response, the toolkit rejects anything that's unsigned. So the Metadata XML should always be WantAssertionsSigned="true"

But in https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/metadata.rb#L29

WantAssertionsSigned is set to true only when settings.idp_cert_fingerprint or settings.idp_cert is set. In our workflow at least, use

[2015-05-13 16:18] pitbulk commented on #220
@patcheng, We can have the WantAssertionsSigned=false and the IdP then add the Signature to the whole SAML Response message.

[2015-05-16 13:48] jdleesmiller commented on #220
For the record, we've also hit this problem --- a customer's IdP is not including the certificate in each SAML response, only in their metadata.

First, I'd like to say thanks for providing this great library and the excellent documentation --- we definitely would not have gotten this far without it! However, we are a bit stuck without this option, since we don't have any control over what the IdP

[2015-06-03 10:55] samiljin commented on #9
I had the sam problem as @tekt8tket and his workaround helped.
Could the
[code]
be changed so it works with both, saml: and saml2:?

I think this would work:
[code]

[2015-06-03 11:15] pitbulk commented on #9
@samiljin, after merging this [239](https://github.com/onelogin/ruby-saml/pull/239) I will add official Encryption support.

I will take that suggestion in mind.

[2015-06-16 02:35] iyerk0 opened #242 "When will 0.9.3 be released?"
Can you indicate when you will release the the next version of ruby saml. I noticed that when i use the latest released version 0.9.2, i get errors on the samlcontroller#acs :+1: Getting OpenSSL::X509::CertificateError nested asn1 error on Ruby

However this error is not happening with the bleeding edge version of ruby-saml. As I integrate ruby saml into our project, it would be inadvisable for us

[2015-06-17 19:37] rhomeister commented on #9
Is there a workaround in the meantime? I'm trying to integrate with a client that uses ADFS.

[2015-06-17 23:13] pitbulk commented on #9
Try this branch:
https://github.com/onelogin/ruby-saml/tree/decrypt-support

[2015-06-26 23:49] soupmatt opened #244 "Shibboleth won't accept signed metadata"
Using both version v0.9.2 and current master (04659e543cf83228821496b5616e675b325d26b4), I cannot get a shibboleth IdP to validate my metadata.xml when I sign it. As I investigated this, it turns out the `KeyDescriptor` elements that are put inside the `SPSSODescriptor` aren't allowed by the xml schema. The ones inside the `Signature` element are fine.

Upon further investigation, it seems as if t

[2015-06-29 01:37] vincentwoo commented on #242
Seconding this motion! Would love to see a new gem cut whenever you have time!

[2015-06-29 18:19] iyerk0 commented on #244
I verify this issue exists. I have also had a tough time importing a valid sp metadata xml into various IDPs. Current hack is that I manually edit the exported xml from ruby-saml and re-order the elements to get the validation to pass in the IDP.
It is definitely a nasty blocker for people new to ruby saml
Request a fix for this

[2015-06-29 19:16] #244 closed

[2015-06-29 22:39] Bauerpauer commented on #220
Just ran into this as well.  If the vendor can't inject the cert into their response we'll have to resort to a one-off fork of this gem to get it working, which is unfortunate.  I echo @jdleesmiller here w/ the "Thanks, but we're a little stuck."

[2015-06-30 17:31] booleanbetrayal commented on #242
@pitbulk - can we get a 1.0.0 gem bump please? would like to get a dependency bump PR in for omniauth-saml, but would like to make it on the 1.0.0 version. Thanks!

[2015-06-30 17:33] pitbulk commented on #242
@booleanbetrayal worning on that. I want to include that PR https://github.com/onelogin/ruby-saml/pull/247 and do the release.

[2015-06-30 17:37] booleanbetrayal commented on #242
sweet! thanks!  =]

[2015-06-30 19:56] pitbulk commented on #242
The 1.0.0 is drafted (same content that current master branch).
We are reviewing it and soon it will be published on github and Rubygems.

We are also working on a new release of the [ruby-saml-example](https://github.com/onelogin/ruby-saml-example) compatible with this new version.

[2015-06-30 23:21] iyerk0 commented on #242
Thank you @pitbulk !

[2015-07-01 21:20] aarmora commented on #224
What process needed permission?

[2015-07-02 01:12] bjm88 opened #248 "response.errors empty after validation fails"
If I just run  response.is_valid?
when false try to log for debugging
response.errors
its empty.  If I do response.validate!
that throws exception where I can then get actual useful error messages.  I feel like .errors should be populated either way....perhaps fixed in master just not 0.9.2, not sure?

[2015-07-02 01:12] bjm88 commented on #248
FYI I'm talking about consume method on service provider side.

[2015-07-02 01:21] pitbulk commented on #248
The new 1.0.0 contains [changes](https://github.com/onelogin/ruby-saml/commit/e10328afaa845f97e620acd4394d805d7d4d0968) related to this issue.

In this new version you can handle if the errors gonna raise or not an exception by the settings.soft parameter. We added more validations and all errors are stored on errors.

At 0.9.2 version
validate! executes a validate method with soft=false (will rai

[2015-07-02 01:22] pitbulk commented on #242
1.0.0 released and soon will be updated to rubygems.

Notice that we also released a new version of [ruby-saml-example](https://github.com/onelogin/ruby-saml-example/releases/tag/v2.0.2) that will use this gem.

[2015-07-02 01:22] #242 closed

[2015-07-06 21:35] jbandhauer opened #250 "Push 1.0.0 to rubygems.org ?"
This is an awesome gem. 1.0.0 looks like a great update. Is there a reason to not push the new version to rubygems.org yet? Thanks!

[2015-07-06 22:39] vincentwoo commented on #250
Also eagerly awaiting the ability to remove my gemfile's github dependency :)

[2015-07-07 18:51] Lordnibbler commented on #250
Done! https://rubygems.org/gems/ruby-saml/versions/1.0.0

[2015-07-07 18:51] #250 closed

[2015-07-07 18:54] jbandhauer commented on #250
Thanks!

[2015-07-07 19:06] vincentwoo commented on #250
beautiful

[2015-07-09 18:40] reedloden opened #252 "Create security disclosure / handling policy"
With several security issues in `ruby-saml` being fixed so far this year, it would be a good idea to have a vulnerability reporting process to ensure things are handled correctly, CVEs requested, notifications to appropriate forums / lists / databases made (oss-security, OSVDB, rubysec), etc.

Here's some recent other discussions from other projects on this same topic:
* https://internals.rust-lan

[2015-07-21 14:56] pitbulk commented on #248
@bjm88 have you tested the new release?

[2015-08-17 14:56] mfoo opened #257 "ruby-saml/testing environment variable"
Hi all,

May I ask what this is?

https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/logging.rb#L18

"Don't log anything if this environment variable is set and isn't false".

Why does it control both debug and info level logging, and why is it undocumented? I see no reference to this environment variable anywhere else in this project.

If it's to prevent logging to stdout on

[2015-08-17 19:10] pitbulk commented on #257
@mfoo do you have a PR/suggestion for improve the logging process?

[2015-08-18 18:44] sthanson opened #259 "Loosen the validate_subject_confirmation check?"
Currently your validate_subject_confirmation check in response.rb requires:
1. At least one Subject > SubjectConfirmation element to have a Method of 'urn:oasis:names:tc:SAML:2.0:cm:bearer'
2. At least one SubjectConfirmationData element to exist
3. At least one of these three attributes (InResponseTo, NotOnOrAfter, NotBefore) to be present.
4. All of these three attributes (InResponseTo, NotOnOrA

[2015-08-18 18:53] pitbulk commented on #259
In the [php-saml](https://github.com/onelogin/php-saml) and the [python-saml](https://github.com/onelogin/python-saml) we have a "strict" parameter that relaxes the SAML validation (useful for testing environments).

I'm ok with the idea of adding a "skip_subject_confirmation" that will skip the whole process of search a valid subjectconfirmation element.

[2015-08-18 20:01] sthanson commented on #259
I created a new pull request with the skip_subject_confirmation flag.

https://github.com/onelogin/ruby-saml/pull/260

[2015-08-18 20:08] pitbulk commented on #259
Can you add documentation at the SAMLResponse constructor?
https://github.com/sthanson/ruby-saml/blob/skip_validate_subject_confirmation/lib/onelogin/ruby-saml/response.rb#L36

It mentions :skip_conditions and should mention :skip_subject_confirmation

Also maybe is a good moment to add those parameters to the documentation, editing README.md and adding at L143 at the "The Initialization Phase" se

[2015-08-18 21:20] sthanson commented on #259
Hi @pitbulk

I added documentation to the two files you suggested.

I added the new README.md documentation at L169 instead of L143 because it seemed like that "def saml_settings" code block related to the previous paragraphs and it seemed out of place after my new paragraph.  Hope that is ok. If not, I'm happy to move it to L143 like you originally suggested.

I also noticed I had put the wrong u

[2015-08-18 21:57] sthanson commented on #259
I made the text change and I'm rebuilding the PR to get rid of the merge commit.

[2015-08-18 22:08] sthanson commented on #259
Rebuilt PR to get rid of my merge commit:

https://github.com/onelogin/ruby-saml/pull/261

[2015-08-19 20:09] jsom commented on #220
We're running in to the exact issue as @TJM as well. It should not be a required validation.

[2015-08-28 20:53] #259 closed

[2015-09-04 07:49] gmontard commented on #124
Hello,

We have a customer that do not accept GET params but only POST.
This would be helpful to have a simple way to chose the format to send the AuthNRequest.

Thanks.

[2015-09-17 09:17] pitbulk commented on #220
@Bauerpauer , @jdleesmiller , @TJM , @TimMoore

Can you review this new branch that includes support on SAMLResponse that does not contain ds:x509certificate?

https://github.com/onelogin/ruby-saml/tree/no_x509certificate

[2015-09-17 14:31] dtengeri commented on #220
Thanks @pitbulk , this worked for me.

[2015-09-17 15:44] pitbulk commented on #220
@luisvm can you validate it before merge?

[2015-09-17 15:57] TJM commented on #220
@pitbulk I am sorry, the project that I was working with on when we came across that requirement is no longer an active customer. Hopefully @jsom or someone can still reproduce it?

[2015-09-24 22:42] dgindin-cp opened #264 "ruby-saml library invalidating SAML assertion signature where xmlns:ds namespace declaration is missing"
We are using your ruby-saml library to enable SSO for customers into our web application.

One of our customers is using Tivoli's FIM platform for SAML SSO. Previously they only signed their SAML assertion and everything worked fine. The OneLogin ruby-saml library began invalidating their SAML assertion signature when they began signing their SAML assertion and response. After some troubleshooting

[2015-09-24 23:55] Karamorf opened #265 "Or operation in identifier"
At my organization, there is no single one piece of identifier that might not change over the course of a persons career. Ideally, the identifier format could support an "or" type operation so that any identifying piece of information from the saml response could map to the same account in the system.

Ideally, this setting:
settings.name_identifier_format         = "urn:oasis:names:tc:SAML:1.1:na

[2015-09-25 11:22] pitbulk commented on #264
SAML implementations used to delegate Signature/Encryption on 3rd party libraries.
The problem is that in order to decrypt or validate a sign the 3rd party library expects the part that you want to valdate/decrypt , not the whole XML. Not providing the namespace on the part will produce decrypt/sign validation problems.

That is why most of the SAMLResponse that you will see not declares ds/xs/xsi

[2015-09-25 13:10] gmontard opened #266 "Support Multiple Signing Certificate - Handling Expiration"
Hello,

We are implementing signing on our SP, but it seems we can only have one certificate which lead me to the question of how to handle the expiration?

What people seems to do is to implement the option to have two certificates, so a little bit before the cert expire you can generate a new one and have in the mean time the new and the old on the Manifest which give enough time for the IDP to

[2015-09-25 14:13] pitbulk commented on #266
Key/Certificate rollover is not officially supported on the ruby-saml gem and is not trivial to add that functionality.

[2015-09-25 14:50] gmontard commented on #266
I understand.

Would you have any recommandation to share on how to manage those certificate rollover?

Thanks.

[2015-09-25 21:14] dgindin-cp commented on #264
Sixto,

Any plans for OneLogin to update its ruby-saml library to inherit and honor namespaces declared at the top of an SAML XML document?

[2015-09-25 21:28] pitbulk commented on #264
Right now I'm focused on the java-saml improvement. (It will take 2-3 weeks more). After that we will improve these kind of issues.

[2015-10-09 18:55] alex opened #270 "decrypt_assertion fails with XML from a SAML IDP which names XML namespaces differently"
The code which parsers an assertion (https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L690-L692), uses regular expressions to match the XML, so it doesn't handle namespaces properly. Here is an example SAML assertion which it fails to parse:

[code]

[2015-10-20 04:28] yoda commented on #266
I would also like to know about this. Thanks for all the effort on this gem.

[2015-10-25 15:49] netpenthe opened #272 "IdP initiated sessions"
In the main documentation of this (https://github.com/onelogin/ruby-saml), in particular the *The Initialization Phase* part of the documentation, it says the flow will include redirects to the IdP to verify the user is authorized.

Am I right to presume this is ONLY for SP-initiated flows?

For IdP initiated sessions, there would be NO redirect - the SP would only ever receive the one HTTP reques

[2015-10-26 02:02] davelooi commented on #220
Running into this problem. Any update on when this will be shipped?

[2015-10-27 09:05] pitbulk commented on #272
@netpenthe You are right,

In SP-initiated SSO flow:
1. SP sends an AuthNRequest to the IdP (HTTP-Redirect binding)
2. IdP replies a SAMLResponse (HTTP-Post binding)

In IdP-initiated SSO flow:
1. IdP sends a SAMLResponse (HTTP-Post binding)

[2015-10-27 11:03] #270 closed

[2015-10-27 11:08] pitbulk commented on #265
In most of the cases, the Identity Provider provides not only a NameID, instead a set of attributes of the user. The attribute mapping can be coded at the ServiceProvider side, the ruby gem will parse the NameID and the attributes and based on a mapping, will try to identify the user in the local application.

[2015-10-27 11:22] pitbulk commented on #264
@dgindin-cp this should solve your issue:
https://github.com/onelogin/ruby-saml/commit/46c221f6bc3379523781394e4a34b7329d5a4e18

[2015-10-27 11:28] pitbulk commented on #220
Is merged.

[2015-10-27 13:20] alex opened #274 "Upload 1.1.0 release to Rubygems"
Thanks for cutting a release! I see that it's been tagged on github, but doesn't appear to be on rubygems yet -- https://rubygems.org/gems/ruby-saml still shows 1.0, it'd be great to upload it so we can depend on it in our `Gemfile`.

[2015-10-27 15:48] #272 closed

[2015-10-27 21:42] pitbulk commented on #274
Done.

Please, notify me if you experience any error with the new gem:
https://rubygems.org/gems/ruby-saml/versions/1.1.0

[2015-10-28 03:32] alex commented on #274
Thanks! (We started running from the tag as soon as it was released, since we needed #271, looks good!)

[2015-10-28 03:32] #274 closed

[2015-10-29 12:07] levelboy opened #275 "Problem validating document with multiple Signature elements"
The lastest release of the gem (1.1.0), fails to validate documents of this form:

[code]

I tracked the problem in the xml_security.rb https://github.com/onelogin/ruby-saml/blob/master/lib/xml_security.rb#L234

Within each signature element, we try to get the Reference node and match the digest_value with the computed hash of the referenced node.
When we get the ````encoded_digest_value```` from

[2015-10-29 21:19] phene commented on #275
+1 for addressing this -- My team also ran into this issue.

[2015-10-29 22:43] janhuehne opened #276 "ADFS 3.0 auth not working"
Hello,
i am trying to authenticate against an ADFS 3.0 server with SAML 2.0.

I always got the error after the redirect to the ADFS server: "We are sorry your authentication did not work."

If i remove the SAMLRequest parameter from the URL, its working. My provider told me, that he cannot any issue within the log files of the ADFS server.

This is the generated base64 encoded xml
[code]

Any idea

[2015-10-29 23:00] pitbulk commented on #276
Can you use the [SAML Tracer extension](https://addons.mozilla.org/es/firefox/addon/saml-tracer/) and see what the ADFS replies?

[2015-10-29 23:12] pitbulk commented on #275
Maybe this was introduced at this change:
https://github.com/onelogin/ruby-saml/commit/275512af57a8395efdde76dece8c94e2aa4662e2

1. Please provide a PR and test so others that experience same issue can review.
2. We plan to refactor all the signature/encrypt methods in a new gem and avoid using 2 XML parsing libraries.
3. It seems that there is no external library that offer what we required.
The

[2015-10-30 01:31] reedloden commented on #252
Any thoughts, @pitbulk?

[2015-10-30 01:36] pitbulk commented on #252
Hi @reedloden , I'm not the one that must decide this. I will reference this to the OneLogin's Chief Information Security Officer.

[2015-10-30 09:55] levelboy commented on #275
@pitbulk Added a PR for this. It has the least amount of change to validate documents, and the modification is according to the fact that a Signature element can only have one Reference node inside.
What's your timeframe for the xml_security refactoring. I would highly like to contribute to that.

[2015-10-30 09:57] levelboy commented on #275
btw, if it's not a big hassle, I would greatly appreciate if you can release a new version of the gem (say 1.1.1). I've been waiting for a long time for this. Thank you

[2015-10-30 19:25] janhuehne commented on #276
I did ...

[code]

[2015-10-30 20:12] pitbulk commented on #276
There is no SAMLResponse in the data you provided.

[2015-11-03 23:23] kahlouie opened #279 "sso_target_url is arbitrary when parsed from idp metadata file"
There are two similar binding fields in an IdP metadata file: `urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST` and `urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect`. The `single_signon_service_url` that creates the sso_target_url [arbitrarily chooses the first of these two binding fields](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/idp_metadata_parser.rb#L116-L123).

[2015-11-03 23:46] joshwlewis commented on #279
Hi -- I'm interested in helping fix this if possible. We're using your `IdpMetadataParser`, but we can't be sure whether we get a Redirect or a Post endpoint from `single_signon_service_url`.

Based on [this comment](https://github.com/onelogin/ruby-saml/blob/2ee7b3902e67e3ef69cc8ec415a7d3f3f14716ac/lib/onelogin/ruby-saml/settings.rb#L96), it looks like `RubySaml` is only supporting `HTTP-Redirect

[2015-11-04 10:05] pitbulk commented on #279
Both SSO and SLO should be HTTP-Redirect, can you provide a PR?

[2015-11-04 22:56] joshwlewis commented on #279
Yep, we sure will. @kahlouie is working on it now. Thanks!

[2015-11-05 13:53] aaronchi commented on #275
I have this problem as well after 1.1

[2015-11-10 01:09] vincentwoo opened #281 "1.1.0 broke some signature validation"
This ended up causing a serious customer-facing issue for me. I'm not a SAML nor XML expert, so I'm just going to include the data you need to verify the issue.

SAML response:
[code]

Cert fingerprint:
[code]

`response.validate_signature` returns `true` on ruby-saml 1.0.0, and causes `OneLogin::RubySaml::ValidationError: Digest mismatch` on 1.1.0.

My interpretation of the [1.1.0 changelog notes

[2015-11-10 10:45] pitbulk commented on #281
You are right, tested it and seems something broke on 1.1.0, I'm working on a fix.

[2015-11-10 12:17] pitbulk commented on #281
1.1.1 release should fix the issue, please let me know if your problem is gone.

[2015-11-10 12:18] pitbulk commented on #276
Can you provide the SAMLResponse? I need it in order to debug and help you solve your issue.

[2015-11-10 12:20] pitbulk commented on #275
@phene I released 1.1.1 version. Please try it and let me know if the problem is gone.
@levelboy thanks for the PR, I will release it at Rubygems as soon as we get more feedback on that issue.

[2015-11-10 20:46] vincentwoo commented on #281
@pitbulk you did not cut a new gem release

[2015-11-10 21:34] pitbulk commented on #281
Is not at rubygem yet but I wonder if you can use the github release and test. See instructions:

http://bundler.io/git.html

[2015-11-10 22:28] vincentwoo commented on #281
Yes, master fixes the issue for me. Can you cut a release?

[2015-11-11 09:56] pitbulk commented on #281
Done: https://rubygems.org/gems/ruby-saml/versions/1.1.1

[2015-11-11 09:56] #281 closed

[2015-11-11 10:37] vincentwoo commented on #281
Thanks for the prompt fix

[2015-11-11 10:47] pitbulk commented on #281
thank you for collaborate

[2015-11-12 17:56] mathildemouw opened #283 "#validate_audience failing incorrectly when audience doesn't match issuer"
We were testing our SAML setup with a response from a client and the ruby-saml response.rb validation on line 456 in #validate_audience failed because the issuer was not one of the audiences.

[code]

It seems like this check is incorrect.  The SAML 2.0 specification says that the Issuer refers to the IDP's entity id and the Audience refers to the SP's entity id (and you can also include any other

[2015-11-12 20:08] pitbulk commented on #283
Understand the settings.issuer as the Service Provider entity ID, not the Issuer attribute of the SAMLResponse.
This was a legacy name, if you review the rest of our toolkits, all uses settings_sp_entityid to define this value, and you can see that all have the same checker:

https://github.com/onelogin/python-saml/blob/master/src/onelogin/saml2/response.py#L140
https://github.com/onelogin/php-sam

[2015-11-12 23:44] mathildemouw commented on #283
@pitbulk Thanks for the response.  I made a pull request with our solution in case it can be of some use, but now that I have seen your reply it seems like it won't be merge-able without compatibility issues. :/

[2015-11-20 09:07] mayesgr opened #286 "Change README from OneLogin::Saml to Onelogin::Saml"
I encountered an issue upgrading from 0.7.0 to 1.0.0 so I had to roll back.  Per the "Updating from 0.7.x to 0.8.x" in the README, I reverted the namespace to OneLogin::Saml.  But my rails app then died with this error: "Message from application: uninitialized constant OneLogin (NameError)"

When I changed all instances of OneLogin::Saml to Onelogin::Saml, the app came back to life.

I just wanted

[2015-12-02 21:47] phene commented on #275
I'm now getting the following error validating the response:

[code]

[2015-12-04 14:36] tomilaine opened #293 "Schema loading fails with jruby and warbler"
I have a problem with using ruby-saml with jruby and warbler. Since warbler packages the gems inside a jar changing the directory won't work (https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/saml_message.rb#L27).

[code]

(reason for 1.0.0 is that I'm using ruby-saml through omniauth-saml, not that it should make a difference here?)

The files are accessible with their full

[2015-12-08 23:33] KevinColemanInc opened #294 "update toolkit URL in description of github repo"
Should be this:
https://developers.onelogin.com/v1.0/page/saml-toolkit-for-ruby-on-rails

not this:
http://support.onelogin.com/entries/165434-saml-toolkit-for-ruby-on-rails

[2015-12-08 23:47] pitbulk commented on #294
Where is that link?

[2015-12-08 23:48] KevinColemanInc commented on #294
<img width="1146" alt="screen shot 2015-12-08 at 3 48 14 pm" src="https://cloud.githubusercontent.com/assets/2381771/11672182/22acae94-9dc3-11e5-8bb3-e2a3e416be4c.png">

[2015-12-08 23:50] pitbulk commented on #294
Ok, let me find someone with privileges to change that

[2015-12-09 21:22] tinifni commented on #294
@KevinColemanInc updated. Thanks :+1:

[2015-12-09 21:22] #294 closed

[2015-12-11 16:14] wbajzek opened #295 "Copy/paste error?"
Is this the correct explanation of the query_string parameter? It would be nice to have a clearer explanation either way.
https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/utils.rb#L68

Thanks!

[2015-12-11 17:19] pitbulk commented on #295
Fixed. https://github.com/onelogin/ruby-saml/commit/45665bac6f33f656273517e7107122dbe81cd252

[2015-12-11 17:19] #295 closed

[2015-12-16 17:48] phene commented on #264
I'm also running into this issue, in combination with `xmlns:ds` becoming `xmlns:dsig`

[2016-01-07 16:52] raphaelcm opened #296 "Works great for OneLogin, fails with other providers (Okta, Bitium, Azure, etc)"
I'm totally stumped by this. We're on version 1.1.1 of the gem, but I've reproduced with 1.0.0 and 0.9.2 as well.

For all non-OneLogin IdPs, the SAML payload doesn't validate properly, giving the error: "http://www.okta.com/kq0jwnkbEOSGKQTSQMMU is not a valid audience for this Response"

I don't even know where to start debugging this - can anyone point me in the right direction?

Here is a succe

[2016-01-07 17:26] raphaelcm commented on #296
Could this be a symptom of #283?

[2016-01-07 17:36] raphaelcm commented on #296
https://github.com/mathildemouw/ruby-saml/tree/audience-validation resolves this issue. The divergence of this main gem from the SAML spec is problematic.

[2016-01-07 17:47] raphaelcm commented on #283
Hey guys, this issue makes it so ruby-saml doesn't work with most other mainstream SAML IdPs (Okta, Bitium, Azure, etc).

The PR from @mathildemouw resolves the issue. Would be great if this gem could get back into compliance with the SAML 2.0 specification. Is that on the roadmap at all?

[2016-01-07 19:55] pitbulk commented on #296
I see in this PR that the change was rename "issuer" by "sp_entity_id",

why instead of being using this PR, you don't simple set in the settings
[code]
as described [in the documentation](https://github.com/onelogin/ruby-saml#the-initialization-phase)?

Follow the discussion at: https://github.com/onelogin/ruby-saml/issues/283#issuecomment-169754067

[2016-01-07 19:58] raphaelcm commented on #296
Because the SAML payload doesn't validate then.

[2016-01-07 20:07] pitbulk commented on #283
@raphaelcm  This gem is compliance with the SAML 2.0 specification.

I agree that "sp_entity_id" name is better than the "issuer" name, but I need to keep this name in order to maintain compatibility with deployed ruby-saml toolkit instances.
Please don't misunderstand this setting parameter that refers always to the "sp_entity_id", don't believe that the "issuer" is the "idp_entity_id".

Issuer i

[2016-01-07 20:18] pitbulk commented on #296
can you share the setting of yout ruby-saml toolkit and the part of the SAMLResponse that contains the audience?

[2016-01-07 20:29] raphaelcm commented on #296
This is the SAMLResponse part with the audience (full SAMLResponse above). It fails:

`<saml2:Audience>gt</saml2:Audience>`

SAML Settings:

[code]

[2016-01-07 20:45] pitbulk commented on #296
If
[code]
then:
[code]

[code]

[code]

[2016-01-07 20:48] raphaelcm commented on #296
Thanks, I'll give that a try.

[2016-01-13 21:54] raphaelcm commented on #296
That worked, thanks!

[2016-01-13 21:54] #296 closed

[2016-01-22 00:40] wGEric opened #299 "KeyDescriptor node requires signing attribute when it is optional in spec"
To get the certificate from a metdata file, this library looks for a `KeyDescriptor` node with the `signing` attribute. According to the saml spec, this attribute is optional. If you choose to not include this attribute then the metadata parser won't find the certificate.

[2016-02-09 23:06] andrxu opened #300 "gem installation error: mini_portile2 requires Ruby version >= 1.9.2"
Hi:
I got above error when installing the gem, does the gem still support the old ruby 1.87?

Thanks

Andrew

[2016-02-09 23:47] pitbulk commented on #300
Yes, if you using ruby 1.8.7 you can install mini_portile 0.6.2

[2016-02-10 09:24] #283 closed

[2016-02-11 08:19] alperkokmen opened #301 "missing validation for Destination in response"
it seems like destination validation never made it to `1.1.0`. it was [part of the original PR](https://github.com/onelogin/ruby-saml/pull/197/files#diff-58e0f05945ffec83ea2c44ce4e7b8550R262) @pitbulk opened that improved the validations among other things: #197

however, it seems like `validate_destination` never made it to the smaller PRs created – i am guessing it should've been part of #239?

[2016-02-11 09:06] #301 closed

[2016-02-11 17:09] alperkokmen opened #303 "using a Hash instead of an an Array for Response#errors"
at the moment `Response` object uses an `Array` (initialized [here](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L42)) to keep track of errors encountered during validation.

at the moment, it's very human-friendly – i.e. if you wanted to display errors to users, you could just consume `errors` in your controller after `is_valid?` check and be done. however,

[2016-02-11 19:34] mrhamric commented on #276
Hey @pitbulk , any updates on this?

 We're using this gem at StatusPage and love it; it's made our SAML implementation really easy. However, we've started running into problems when on-boarding larger clients who use ADFS 3.

I'd be happy to help work through this issue, at this time I just don't have access to a test rig that I can effectively run ADFS on.

Let me know if any progress has been m

[2016-02-11 19:40] pitbulk commented on #276
As you can see in the thread, the reported never included the SAML trace, so I wasn't able to detect what was happening.

What issues do you experiment with ADFS3.0?  I think all can be solved using the right settings.

[2016-02-17 01:55] rjnordeen commented on #266
Also interested in this as well - anyone else found a way of doing this with ruby-saml?

[2016-02-24 19:04] mrhamric commented on #276
Hey @pitbulk, sorry for the delay here.

We've found that requests initiated by the IDP come in and are able to be processed correctly, but when we kick off an SP-Initiated AuthRequest, the assertion comes back as invalid. Wondering if this is a certificate issue?

Below are corresponding AuthRequest and Assertions between our system and an ADFS configuration:

AuthRequest:
[code]

And an assertio

[2016-02-24 23:52] pitbulk commented on #276
What error appears on ADFS when the AuthNRequest is processed (review the logs) and what status is ADFS replying?

[2016-02-25 01:02] xeger opened #304 "Response#new raises OpenSSL::PKey::RSAError when encrypted response is badly malformed"
Hello,

I've noticed that Response is leaking exceptions when I send it an encrypted response with a corrupted ciphertext. It seems that the design intent of the class is to gather errors while processing rather than raising exceptions.

If I submit a PR to rescue OpenSSL errors during decryption and translate them into errors to add to the errors-collection, will that be of interest to you?

[2016-02-26 01:40] pitbulk commented on #304
Yes I think so, please include unit test on your PR.

[2016-02-27 04:24] meenxo opened #305 "KeyInfo support in metadata"
I was asked by an IdP to insert our certificate name in KeyDescriptor -> KeyInfo -> KeyName. I don't see where the KeyDescriptor could be set and I can't find much information doing a google search. Is that something that will be supported in the future? Or is there a reason why it cannot be supported that I am not getting? I appreciate any feedback. Thanks

[2016-02-28 18:54] pitbulk commented on #305
KeyDescriptor -> KeyInfo -> KeyName is not supported instead you can use KeyDescriptor -> KeyInfo -> [X509Data](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/metadata.rb#L42).

[2016-02-29 05:21] meenxo commented on #305
Thanks for confirming.

[2016-02-29 05:21] #305 closed

[2016-03-04 00:34] vincentwoo opened #306 "Difficulty setting WantAssertionsSigned in metadata.xml endpoint"
ruby-saml tries to decide whether it should set `WantsAssertionsSigned` on [https://github.com/onelogin/ruby-saml/blob/37368619bf04cfccad9634e79c98e5b9b38d980d/lib/onelogin/ruby-saml/metadata.rb#L33](this line of code). However, the rub here is that it requires `idp_cert` to be set. If you are writing a SP that integrates with multiple IDPs, it doesn't really make sense for your metadata endpoint

[2016-03-04 05:06] chetanbissa27 opened #307 "nested asn1 error"
I getting `nested asn1 error` while generating metadata.Please find below my configuration

[code]

I used following command to generate certificate and private key

`openssl req  -newkey rsa:2048 -nodes -keyout domain.key  -out domain.csr`

please let me know where I am wrong.

[2016-03-04 08:36] gmontard commented on #266
Isn't it the goal of this PR? #290 by @davelooi?

[2016-03-04 09:02] pitbulk commented on #306
A settings.security[:want_assertions_signed] could be added.
Can you provide a PR that includes:
* this new setting value (if not set, maintain old behavior)
* A new validator at the response.RB that invalidates any SAMLResponse with no Assertion signed when want_assertion_signed setting active.
* Unit test

[2016-03-04 09:04] pitbulk commented on #307
What is exactly the error trace?

[2016-03-04 09:08] pitbulk commented on #303
That makes sense but we need to implement a solution that not break current environments.

[2016-03-04 09:16] vincentwoo commented on #306
No, but can you?

[2016-03-04 09:48] pitbulk commented on #306
I will add this to the pending tasks queue, but can't give you an ETA.

[2016-03-11 00:00] Vsandhya11 commented on #264
I am also facing this issue, When SAML response comes back to SP got the following error.
SAML Response invalid
Invalid SAML Response. Not match the saml-schema-protocol-2.0.xsd

Thanks in advance!

[2016-03-15 13:12] chetanbissa27 opened #309 "invalid SAMLRequest generation"
Hi

In setting I am using certificate and private key.
`settings.private_key = <<EOS`
`-----BEGIN PRIVATE KEY-----`
`###my key here####`
`-----END PRIVATE KEY-----`
`EOS`
`settings.certificate = <<EOS`
`-----BEGIN CERTIFICATE-----`
`####my certificate here#####`
`-----END CERTIFICATE-----`
`EOS`

`settings.security[:authn_requests_signed]   = true`
`settings.security[:logout_requests_signed]  = tr

[2016-03-15 15:04] pitbulk commented on #309
Can you try this tool instead? https://www.samltool.com/decode.php
Also without the SAMLRequest, I can figure out what is happening. settings apparently seems ok.

[2016-03-16 06:28] chetanbissa27 commented on #309
below is my saml request

`fVLLbtswEPwV3XiSuJIQOyEsA4aNAgLSB%2Bymh14Kllw3BCRS5a5S9e9LqXHrS3zlPHY4uxvSfTeo3cjP%2Fog%2FRyTOdkQY2QW%2FD57GHuMJ44sz%2BHR8bMQz80BKyhKKCor7orx7UDUAyDGJSM52Uic3kR2Sl%2FN6Nvov0%2FZMnIBEfsFYTCE67bkwoV8g2ZFs7dB6x04z2pP74T%2F6QtMwiaw9NOLb2mi7Rg25sSubQ1nXOYD9nsM9QLVG%2B2DgLlGJRmw9cTJvRAXlKoc6L1efYaWqWpX1V5F9SXmXbFUBIpv6zpOa4zdijF4FTY6U1z2SYqNOu%2FePKhGVvpRzLRlua4YYOJjQie1mZqslX

[2016-03-16 23:24] vincentwoo opened #310 "ruby-saml broken with default behavior of onelogin test connector"
If you make a onelogin SAML test app, and leave the optional "Recipient" field blank, enelogin sends a response like this:

[code]

The `Destination="{recipient}"` bit breaks `ruby-saml`'s destination validation:

`The response was received at {recipient} instead of http://localhost:8080/saml/acs`

[2016-03-17 00:17] pitbulk commented on #310
Don't leave it blank, instead set the Service Provider Assertion Consumer Service URL.

[2016-03-17 00:17] #310 closed

[2016-03-17 00:51] vincentwoo commented on #310
That's crazy. It's an optional field - leaving it blank should not cause *your* gem to break with *your* test integration.

[2016-03-17 01:00] pitbulk commented on #310
@vincentwoo  can you report that issue on Onelogin platform? Here we open issues related to the ruby-saml toolkit

[2016-03-17 01:20] vincentwoo commented on #310
I don't know how to do that and would prefer that you did it for me - this issue is also a useful signpost for anyone using the library who hits the same problem.

[2016-03-17 01:35] pitbulk commented on #310
I already reported that to the "platform team", I asked you to create the ticket to allow you follow the progress.

But it is ok, Thanks for contribute.

[2016-03-21 22:43] andrxu opened #311 "parse remote got http exception: Connection reset by peer - SSL_connect"
idp_metadata_parser.parse_remote("https://example.com/auth/saml2/idp/metadata")

I have no problem to access the meta data xml from browser and curl command, but not from my ruby 1.87, any idea to get it work?

Thanks

andrew

[2016-03-21 23:25] pitbulk commented on #311
maybe some ruby internal restriction with the example.com domain?

[2016-03-22 17:41] andrxu commented on #311
No, I was trying to access https://fs.usd259.net/FederationMetadata/2007-06/FederationMetadata.xml, I guess it must be related to ruby or some ssl cert issue.  Thanks.

[2016-03-29 00:40] vincentwoo opened #312 "decrypting encrypted assertions in ruby-saml is broken"
for responses that look like:

[code]

Ruby saml tries (https://github.com/onelogin/ruby-saml/blob/45665bac6f33f656273517e7107122dbe81cd252/lib/onelogin/ruby-saml/utils.rb#L127) to access an XPath inside `ds:KeyInfo` that doesn't exist, which explodes. Note that decrypting this response online with the tools you make at samltool.com work perfectly well.

[2016-03-29 01:07] vincentwoo commented on #312
Actually, this may be due to this response having

[code]

Living outside of `ds:KeyInfo`. In this response, it appears to be the last child of `<saml2:EncryptedAssertion>`

[2016-03-29 01:09] vincentwoo commented on #312
In the first random SO question I just found: http://crypto.stackexchange.com/questions/24448/decrypt-a-saml-2-0-response-having-aes-128-and-rsa, the sample XML there as well appears to have `xenc:EncryptedKey` not under `ds:KeyInfo`.

Ruby-saml tries to do: `  "//xenc:EncryptedData/ds:KeyInfo/xenc:EncryptedKey/xenc:CipherData/xenc:CipherValue",`

[2016-03-29 01:22] vincentwoo commented on #312
Okay, I made a PR that makes `ruby-saml` able to process the responses I am getting. I don't know if this key element can belong in multiple locations or what, so I look forward to any information that anyone can provide, here.

It's also perhaps relevant that these responses I am receiving aren't from some random rogue IDP operator - they come from a very large company I'm not allowed to name. Yo

[2016-03-29 02:09] vincentwoo opened #314 "ruby-saml appears to require ds namespace on Signature"
I'm getting a response like

[code]

Since `<Signature xmlns="http://www.w3.org/2000/09/xmldsig#">` correctly sets its xmlns, I believe this to be a valid response that the `ruby-saml` XPath is too naive to handle.

[2016-03-29 02:25] vincentwoo commented on #314
Actually disregard, the XPath worked correctly, I misdiagnosed the cause because the response hides the cause:

[code]

I humbly suggest different messages for missing/invalid/mismatching signatures.

[2016-03-29 02:25] #314 closed

[2016-03-29 05:30] vincentwoo opened #315 "ruby-saml is missing support for canonicalization with comments"
I have a SAML response with `<CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments"/>` set.

ruby-saml uses:

[code]

which is obviously incorrect when parsing `http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments`.

Unfortunately it does not look like nokogiri supports "withComments" yet, but it would at least be "less incorrect" to choose `Nokogi

[2016-03-29 07:56] #315 closed

[2016-03-29 08:44] vincentwoo commented on #315
@pitbulk your fix should probably also include "http://www.w3.org/2006/12/xml-c14n11#WithComments", no?

[2016-03-29 09:09] vincentwoo commented on #315
ref: https://www.w3.org/TR/DSig-usage/

[2016-03-29 09:13] pitbulk commented on #315
You are right

[2016-03-29 21:59] nerdyworm commented on #310
I also ran into this issue.

The correct walk around is setting the Recipient field in the Onelogin's SAML configuration page.

[2016-04-01 22:34] vincentwoo commented on #312
@pitbulk this should be fixed by your merge. can you cut a release?

[2016-04-01 22:34] #312 closed

[2016-04-02 00:37] pitbulk commented on #312
I will next week, I want to fix some issues before.

[2016-04-08 00:40] vincentwoo commented on #312
@pitbulk ping

[2016-04-08 00:41] vincentwoo commented on #307
@chetanbissa27 you have generated a certificate signing request, not a certificate.

[2016-04-11 13:46] vignesh-vs-in opened #318 "Gem release of latest master"
It'd be great if we could get a gem v1.1.3 release with the latest master. So that we can depend on the gemfile to manage the dependencies.

[2016-04-11 14:18] pitbulk commented on #318
I will release it, but I wanted to add some new features and fix some minor bugs before.
It will take 1 week to get that new release.

[2016-04-15 15:59] #307 closed

[2016-04-21 08:51] vincentwoo commented on #318
Yo really think a new release should be cut. Critical fixes are in master but not latest release.

[2016-04-25 19:34] pitbulk commented on #309
I was able to decode the AuthNRequest:
[code]

The data that you provided was urlencoded, so you need to first [urldecode](https://www.samltool.com/url.php) and then [Base64 Decode + Inflate](https://www.samltool.com/decode.php)

The samlDecode.jsp from ssocircle does not expect the AuthNRequest deflated, that why fail.

[2016-04-25 19:34] #309 closed

[2016-04-25 19:37] #311 closed

[2016-04-26 06:36] archonic opened #322 "The response was received at {recipient} instead of http://localhost:3000/saml/consume"
I'm getting a response, but it's invalid. The error is

[code]

Is `{recipient}` an unset `settings` attribute? I see no mention of it in any documentation I can find.

Sidenote: I noticed Ruby 2.0 isn't mentioned under supported versions. Is it actually unsupported or just untested?

[2016-04-26 08:47] pitbulk commented on #322
[code]
This is a problem of the Identity Provider settings. What IdP are you using?

[code]
Is supported.

[2016-04-26 09:30] #306 closed

[2016-04-26 11:11] #299 closed

[2016-04-26 17:13] archonic commented on #322
I figured out the recipient field in the app settings on one login. I was looking for it in the code.

I suggest adding 2.0.x to the supported Ruby list. It current goes from 1.9.x to 2.1.x.

[2016-04-26 17:13] #322 closed

[2016-04-26 17:17] pitbulk commented on #322
At https://rubygems.org/gems/ruby-saml/versions/1.1.2 you can read:
Required Ruby Version:  >= 1.8.7

Also if you check the travis file, those environments are tested at CI.
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - 2.1.5
  - 2.2.0
  - ree
  - jruby-1.7.21
  - jruby-9.0.0.0

[2016-04-27 02:35] #265 closed

[2016-04-27 02:36] #264 closed

[2016-04-27 02:37] pitbulk commented on #202
This error was fixed in the OneLogin service

[2016-04-27 02:37] #202 closed

[2016-04-27 02:39] #186 closed

[2016-04-27 23:41] #276 closed

[2016-04-27 23:42] pitbulk commented on #279
Fixed

[2016-04-27 23:42] #279 closed

[2016-04-27 23:44] #275 closed

[2016-04-27 23:45] #172 closed

[2016-04-27 23:45] #9 closed

[2016-04-27 23:46] #148 closed

[2016-04-27 23:49] #220 closed

[2016-04-27 23:50] #230 closed

[2016-04-27 23:50] #248 closed

[2016-04-28 00:02] pitbulk commented on #266
We don't plan to support multiple certificates, but if you are in a Key/Certificate rollover, you can
dynamically change the value of the cert.

An ACS example endpoint:
[code]

[2016-04-28 00:02] #266 closed

[2016-04-28 14:09] googya commented on #172
@pitbulk 👍

[2016-04-28 15:21] #286 closed

[2016-04-29 21:53] pitbulk commented on #318
Done: https://rubygems.org/gems/ruby-saml/versions/1.2.0

[2016-04-29 21:53] #318 closed

[2016-05-02 15:52] akshah123 commented on #124
We also ran into this problem where IDP only supports POST for AuthNRequest.  Was anyone able to setup a workaround for this?

[2016-05-19 22:29] yookd opened #325 "Empty audiences value gets read as {audience}"
In our OneLogin console, we left "Audiences" empty, but set the issuer in our app to equal the issuer URL specified in the OneLogin console.

Since "Audiences" was left empty in the console, we expect `audiences.empty?` to return true [here](https://github.com/onelogin/ruby-saml/blob/v1.0.0/lib/onelogin/ruby-saml/response.rb#L444) and validate the audience.  However, `audiences` [here](https://git

[2016-05-20 06:04] s01ipsist commented on #325
I'm seeing the same thing. I don't think it's a bug in the xml parser code.

If you inspect `response.response`, you will probably see like I did `<saml:Audience>{audience}</saml:Audience>` so this is the actual response from OneLogin.

If this is the "expected" "blank" response then the validation should check for that.

https://support.onelogin.com/hc/en-us/articles/202673944-How-to-Use-the-OneL

[2016-05-20 06:16] yookd commented on #325
@s01ipsist that's exactly what we ended up doing (`settings.issuer` and audience to `"#{domain}/saml/metadata"`)

[2016-05-20 06:41] s01ipsist commented on #325
along the same lines, I had to configure Recipient to be
`"#{domain}/saml/consume"
as, when blank, it comes through as `{recipient}`

[2016-05-20 06:49] pitbulk commented on #325
You may set the audience on the connector to interact with the ruby-saml

[2016-05-20 08:14] s01ipsist commented on #325
@pitbulk I'm not sure I understand.

After configuring the app: SAML Test Connector (IdP) `https://admin.us.onelogin.com/apps/XXXX/edit/#configuration`.

And then triggering a call to my `/consume` endpoint.
Is `{recipient}` the expected value for `audiences` when Recipient is left blank?
Is `{audience}` the expected value for `destination` when Audience is left blank?

I don't know enough to say

[2016-05-20 08:34] pitbulk commented on #325
This is how currently the SAML Test Connector (IdP) works. It inject those values when you left the fields blank.

I reported that issue since I think is better to not provide in the SAMLResponse a Recipient or Audience element if not provided in the form instead of {recipient} and {audience}.

But meanwhile please set as Recipient field the SP ACS URL endpoint value and as Audiente the SP entity

[2016-05-27 08:48] lisovskyvlad opened #327 "multiple ConsumerService endpoints"
So, looks like it is possible with saml  to have multiple AssertionConsumerService in metadata.

My case is that I would like to have one endpoint for testing purpose(I am Sp) and that IdP (shibboleth, sorry, not my choise) and another for production.

What do you think?

[2016-05-27 09:10] pitbulk commented on #327
Hi @lisovskyvlad

Currently our toolkit only supports one AssertionConsumerService URL.

My suggestion: define 2 SP entities (you only need to dynamically change the setting data), so you will have 2 metadatas to be registered at the IdP.

Imagine you have prod.sp.com and test.sp.com running the same piece of code, in this case lets assume you are using the [ruby-saml-example](https://github.com/o

[2016-05-27 10:11] lisovskyvlad commented on #327
Hey @pitbulk,

thanks for quick answer, yeah, I have this approach with dynamic metadata (dep. of host) generating, but looks like IdP is not so flexible (but I am not sure) and they (IT consultant of if;))) have to chane this settings because of flexibility.

Anyway, thanks. What is about patch (I could try to write one) for this possibility? The goal is that metadata has possibility to have few

[2016-05-27 10:25] pitbulk commented on #327
At the IdP-initiaited SSO flow, always the default ACS will be used
At the Sp-initiated SSO flow you will need to inform to the  IdP what ACS should be used (set a AssertionConsumerServiceURL parameter of the AuthNRequest).

Write a patch to support that is not really complex, but will increase the complexity of the toolkit.
My philosophy when implementing the OneLogin's SAML toolkit is to keep th

[2016-05-27 15:28] joshpfosi commented on #327
I actually am having the identical issue. My IT department has solved this issue historically (using OneLogin's Java toolkit for example) by using the `assertion_consumer_service_index` metadata field with matching entity IDs for the different deployment environments (e.g. dev, beta, staging, prod). I think adding this field as a setting option will both solve this issue and bring this toolkit inl

[2016-05-27 15:38] joshpfosi commented on #327
I am working on a PR for this idea now.

[2016-05-30 12:10] tomilaine opened #329 "IdpMetadataParser doesn't handle multiple IdP certificates"
I'm facing a situation where IdP has two certificates during a transition period. In this situation _IdpMetadataParser_ gets the other fingerprint from what is used in the response and authentication fails.

I think _IdpMetadataParser_ should be robust and verbose regarding IdP metadata so that in these kind of situations users will know what happened and how to address the situation with any part

[2016-05-30 14:19] pitbulk commented on #329
Im ok with the fact of extending IdpMetadataParser in order to be able to parse more than 1 certificate.

But I dislike the change proposed on #290 where we had 2 new attributes for the settings:
idp_certs and idp_cert_fingerprints. What happened with the old idp_cert and idp_cert_fingerprint?

I did a proposal to be used on those transition periods:
https://github.com/onelogin/ruby-saml/issues/26

[2016-05-30 14:49] sanderhahn opened #330 "IdpMetadataParser#parse method says it receives an Hash, but uses it as a Settings object"
`IdpMetadataParser#parse` method says it receives an Hash, however the code seems to use the options as an `Settings` object: https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/idp_metadata_parser.rb#L45
Changing the code into: `OneLogin::RubySaml::Settings.new(options[:settings] || {}).tap do |settings|` would make the code work like the @param says.

[2016-05-30 15:02] tomilaine commented on #329
_IdpMetadataParser_ returns a settings object from parse so I guess the settings have to have some new attributes for the multiple certificates?

Thinking of alternatives...
If we reuse the same attributes and do something like return an Array for idp_cert and idp_cert_fingerprint that would potentially break stuff. That could be of course put behind an option like options[:enable_multiple_certs]

[2016-05-30 15:09] pitbulk commented on #329
For this kind of complexity is why we currently does not support multi certs,.

take also in mind that is possible to have certificates related to signatures and others related to the encryption process, so at the end if we want to cover all the SAML implementation, we will need thousand of settings, and is against the goal of keep the toolkit simple.

[2016-05-31 13:49] sanderhahn commented on #330
Might have been misreading the docs, this maybe a non-issue.

[2016-06-03 15:43] pitbulk commented on #327
Read #328

[2016-06-03 15:43] #327 closed

[2016-06-09 16:41] pitbulk opened #332 "Extend Status validation to offer the StatusMessage when Status != Success"

[2016-06-13 19:17] tanelsuurhans commented on #329
Ideally you need to keep around two lists of certificates - one for signing and one for encryption. If the metadata contains only one certificate, used for both, its just populated into both lists. Toggling support for multiple certificates by settings and checking value types is all pretty much meaningless.

The fact that the gem not support multiple, or separate certificates for different purpos

[2016-06-14 15:37] thekendalmiller commented on #276
Just FYI for those who come across this issue.

I was able to get ruby-saml 1.1.1 working correctly with ADFS 3.0.

The only issue I ran into was that I was requesting the name identifier as`urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress`

Changing it to `urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified` "fixed" it but I suspect if I had access to the ADFS config, I could have fixed i

[2016-06-14 20:51] lisadu commented on #124
Internet Explorer only supports URL length up to 2083, so a signed auth request will not work on IE via GET.

[2016-06-16 16:44] #332 closed

[2016-06-22 17:37] jwaldrip opened #333 "Why would a certificate be failing in a production environment but not locally?"
I have the certificate from google. On production the saml response results in a nested asn response. With the same cert locally, it does not. Why would this be?

[2016-06-23 15:27] pitbulk commented on #333
Review the settings, maybe you copy&paste the values wrong.

[2016-06-23 15:55] jwaldrip commented on #333
The settings are identical. I am importing an XML file in both instances. The workflow for prod and dev is identical.

[2016-06-23 16:02] pitbulk commented on #333
what do you mean by importing an XML file? Settings are not provided by an XML...

[2016-06-23 16:17] pitbulk commented on #333
Ok, at the end you should have a settings object like:
https://github.com/onelogin/ruby-saml-example/blob/master/app/models/account.rb

[2016-06-23 16:25] jwaldrip commented on #333
I do.

[code]

[2016-06-23 17:17] pitbulk commented on #333
Then I don't have idea why is not working on your production environment.
Have you tried to clone the repository on the prod machine and run the [tests](https://github.com/onelogin/ruby-saml/tree/master/test) included on the toolkit?

[2016-06-24 17:41] reedloden commented on #252
Bump on this, given the recent security issue fixed in v1.3.0. Would be good to have some type of policy/process around this and a defined path for people to report issues related to this gem. Perhaps that's just pointing to https://www.onelogin.com/security and explaining what the expectations are around vuln handling? Just unclear currently.

[2016-06-24 17:46] pitbulk commented on #252
Yes, https://www.onelogin.com/security should be the place to report them

[2016-06-24 18:11] pitbulk commented on #252
Added reference to Security Guidelines
https://github.com/onelogin/ruby-saml/commit/47b7a8efec960b49a9d56391687f88b4e219b7c2

[2016-06-24 18:31] reedloden commented on #252
Awesome, thanks so much!

[2016-06-30 22:52] lisadu commented on #124
We are able to do POST.

In your controller, setup parameters for the auth form post:
[code]

In your view, create a hidden form and JavaScript submit (example in HAML):
[code]

[2016-07-01 04:33] pitbulk commented on #124
In HTTP-POST binding the Signatures are embedded, if you need to support that this solution does not work.

At SAML specification: http://docs.oasis-open.org/security/saml/v2.0/saml-conformance-2.0-os.pdf
you can see that in Web SSO, support  <AuthnRequest>  HTTP redirect is a MUST.

[2016-07-01 09:52] vipulvkp commented on #300
Hello, I tried the above solution. But still it shows the same message.

[2016-07-01 10:25] pitbulk commented on #300
Sadly [mini_portile2](https://rubygems.org/gems/mini_portile2) removed the version that were compatible with ruby 1.8.7 from rubygems., version v0.7.0 removed the compatibility, that why you may install 0.6.2 version.

The gem mini_portile2 is a dependency of recent versions of nokogiri.

Try to install first nokogiri 1.5.10

[2016-07-07 05:06] jv-dan commented on #293
This is definitely not just limited to this scenario. When using a build job that runs:
`bundle package --all`, changing directory also doesn't work.

[2016-07-07 10:15] pitbulk commented on #293
@jv-dan do you have a patch?

[2016-07-07 14:50] jv-dan commented on #293
@pitbulk : My comment is actually incorrect. I updated it to reflect this. Working like a dream with packaged gems.

[2016-07-07 15:08] pitbulk commented on #333
@jwaldrip any luck running the test on the machine?

[2016-07-10 07:33] pravi opened #338 "test failure in 1.3.0 Errno::ENOENT: No such file or directory @ rb_sysopen - /home/pravi/forge/debian/git/pkg-ruby-extras/ruby-saml/test/responses/invalids/encrypted_new_attack.xml.base64"
[code]

[2016-07-10 13:54] davelooi commented on #329
Speaking of #290.

The 2 new fields was created in order to avoid breaking changes. It would be very confusing if `idp_cert` returns a single cert sometimes, and an array some other time.

I have also deliberately avoided changing existing code too much, for 2 reasons:
1. If the PR was rejected, I could continue to rebase my branch and get the latest updates with minimal conflicts.
2. If the PR wa

[2016-07-10 14:45] pitbulk commented on #338
I made the gem with a wrong response_test.rb.

Fixed at [1.3.1](https://rubygems.org/gems/ruby-saml/versions/1.3.1)

[2016-07-10 14:45] #338 closed

[2016-07-14 17:54] md5 opened #343 "Version 1.3.1 has no tag or release on GitHub"
I noticed that there is a version 1.3.1 of `ruby-saml` on RubyGems.org, yet it does not have a tag or a release here on GitHub.

Can someone explain the difference between 1.3.0 and 1.3.1?

[2016-07-14 18:47] pitbulk commented on #343
I added accidentally a test on the ruby-saml gem 1.3.0, so I released a new gem 1.3.1 without this test.
See https://github.com/onelogin/ruby-saml/issues/338

[2016-07-14 19:10] md5 commented on #343
Any chance you could tag it here?

[2016-07-14 20:57] pitbulk commented on #343
Done: https://github.com/onelogin/ruby-saml/releases/tag/1.3.1

[2016-07-14 22:11] #343 closed

[2016-08-03 06:36] pre opened #346 "SAML2 metadata is not found from EntitiesDescriptor (plural) with idp_metadata_parser()"
When federation's metadata contains multiple `<EntityDescriptor>` (singular) tags under an `<EntitiesDescriptor>` (plural) tag, then `idp_metadata_parser()` is unable to locate any of the XPaths.

For example:

[`single_signon_service_url()`](https://github.com/onelogin/ruby-saml/blob/709b4c09a06ab7a299a512eaa166a56ddc50290a/lib/onelogin/ruby-saml/idp_metadata_parser.rb#L143
) tries to match with

[2016-08-03 06:39] pre commented on #329
Related issue: https://github.com/onelogin/ruby-saml/issues/346

[2016-08-03 09:52] pitbulk commented on #346
In this toolkit the settings let you configure 1 unique IdP so the idp_metadata_parser is supposed to handle 1 IdP metadata, parse it and save it in the settings.

But the toolkit let you connect an SP to several IdPs, 1 possible solution is to store each settings in separate files, and on the SP endpoints add an additional parameter at the end of the url that will let you determine what setting t

[2016-08-03 11:23] pre commented on #346
Thanks!

In case you're curious, the test environment's metadata looks like this (the production metadata is bigger): https://haka.funet.fi/metadata/haka_test_metadata_signed.xml

Although this metadata has multiple `<EntityDescriptor>` tags, it only has one IdP, ie. only one of the `<EntityDescriptor>`s has the `SingleSignOnService` definition.

Since my SP needs only one particular IdP in produc

[2016-08-03 11:31] pitbulk commented on #346
You can have a method (get_idp_metadata_from_entities_descriptor) , similar to get_idp_metadata, that has an entityId parameter,

That method will process the EntitiesDescriptor XML, find the one that matches the entityId and then parse the piece of string with the parse method.

[2016-08-03 14:05] pre commented on #346
That's a good idea, thanks!

[2016-08-04 17:46] #325 closed

[2016-08-09 00:10] jnfeinstein opened #348 "Private key w/ passphrase"
Please excuse naivety if exists...

I am considering using a `OpenSSL::PKey::RSA` private key stored in a db, and would therefore like to encrypt the private key using the available cipher+passphrase variant of `to_pem`.  I believe the associated logic in this library is `Settings#get_sp_key` which first formats the private key and then constructs an `OpenSSL::PKey::RSA` object.

I do not see a se

[2016-08-09 00:19] pitbulk commented on #348
The toolkit does not support passphrase for private keys.
Is there a way to manipulate it from the database and obtain a clear private key to be used on the toolkit?

[2016-08-09 01:43] jnfeinstein commented on #348
Thank you for the prompt reply, glad I was not missing anything.  I believe I can store an encoded PEM, then decode using passphrase and convert to PEM without passphrase in-memory.

[2016-08-09 01:43] #348 closed

[2016-08-12 08:33] santhoshcd opened #349 "Not able to install ruby-saml(1.3.0) in ruby 1.8.7 (rails 2.3.2 application)"
Hi

I am getting below error while installing ruby-saml(1.3.0) in my application(ruby 1.8.7,rails 2.3.2).

**Fetching: ruby-saml-1.3.0.gem (100%)**
**ERROR: Error installing ruby-saml:**
**mini_portile2 requires Ruby version >= 1.9.2.**

In gem list I can see the ruby-saml gem
gem li ruby-saml

**** LOCAL GEMS ****
**ruby-saml (1.3.0)**

I installed Mini portile gem
**mini_portile (0.6.2)**

I wan

[2016-08-12 16:50] pitbulk commented on #349
Duped issue:  https://github.com/onelogin/ruby-saml/issues/300

[2016-08-12 16:50] #349 closed

[2016-08-13 10:05] santhoshcd commented on #349
Hi
   Thanks for the reply, I already installed nokogiri (1.5.10) and mini_portile (0.6.2) gem in my app still, I am getting  the same error(ERROR: Error installing ruby-saml:,mini_portile2 requires Ruby version >= 1.9.2.). Are there any other dependencies?

[2016-08-17 05:57] santhoshcd commented on #300
Hi
       I already installed nokogiri (1.5.10) and mini_portile (0.6.2) gem in my app(ruby 1.8.7, rails 2.3.2) still, I am getting the same error.
**ERROR: Error installing ruby-saml:**
**mini_portile2 requires Ruby version >= 1.9.2.).**

Question
Are there any other dependencies?
How to solve this issue?

I asked question in [349](https://github.com/onelogin/ruby-saml/issues/349)

Thanks

[2016-08-18 05:50] santhoshcd opened #350 "re-open #300 issue (gem installation error: mini_portile2 requires Ruby version >= 1.9.2)"
Hi
I already installed nokogiri (1.5.10) and mini_portile (0.6.2) gem in my app(ruby 1.8.7, rails 2.3.2) still, I am getting the same error.
ERROR: Error installing ruby-saml:
mini_portile2 requires Ruby version >= 1.9.2.).

Question
Are there any other dependencies?
How to solve this issue?

I asked a question in [349](https://github.com/onelogin/ruby-saml/issues/349) and referred [300](https://g

[2016-08-18 09:39] #350 closed

[2016-08-18 09:43] pitbulk commented on #300
It seems that ruby-saml is not currently working on 1.8.7 due mini_portile.
https://github.com/flavorjones/mini_portile/issues/45

I will try to investigate.

[2016-08-19 12:52] erlingwl commented on #329
Azure's latest practice on this, makes this issue very relevant: https://azure.microsoft.com/en-us/documentation/articles/active-directory-signing-key-rollover/

I am not sure about the best way forward, but if one modified the "idp_cert=" setter in the saml settings to make sure it stores this as an array with a single element that might help the backward compatibility of #290 ?

[2016-08-19 13:27] pitbulk commented on #329
I will do some research and try to find a global solution for all the toolkits.

The php and python versions are able to read a cert from settings but also from files. I will implement a solution to unify toolkits and also for solve rollover.

Expect it to be released at the end of september.

[2016-08-19 14:07] erlingwl commented on #329
Thank you!

[2016-08-19 22:25] pitbulk commented on #300
In Travis CI we are able to pass the [1.8.7 test](https://travis-ci.org/onelogin/ruby-saml/jobs/149829147)
maybe you can review how is done.

[2016-08-21 16:44] santhoshcd commented on #300
Hi Pitbulk
               I am able to install ruby-saml in my application (ruby 1.8.7) and able to use ruby-saml (SSO and SLO function) but I am getting below error.
Fetching: ruby-saml-1.3.0.gem (100%)
ERROR: Error installing ruby-saml:
mini_portile2 requires Ruby version >= 1.9.2.

gem li
**** LOCAL GEMS ****
**ruby-saml (1.3.0)**
**mini_portile (0.6.2)**

My doubt is,
is there any other proble

[2016-08-29 08:45] santhoshcd commented on #300
Any update on this issue?

[2016-09-02 04:05] emarthinsen opened #351 "QUESTION: How do I access RelayState in the Response object"
RelayState gets passed back as a param. What's the best way to pull it out via the `OneLogin::RubySaml::Response` object?

[2016-09-02 09:51] pitbulk commented on #351
I think you don't need to pass the RelayState parameter to your ``OneLogin::RubySaml::Response``.

After [validate it](https://github.com/onelogin/ruby-saml-example/blob/master/app/controllers/saml_controller.rb#L24), retrieve the [NamrID](https://github.com/onelogin/ruby-saml-example/blob/master/app/controllers/saml_controller.rb#L25) and the [attributes](https://github.com/onelogin/ruby-saml-exa

[2016-09-02 11:45] santhoshcd commented on #296
Hi
   I am getting the same type of error in my application which is connected to OneLogin IDP.

In SAMLResponse, I am getting **{audience}** as value to the audience attribute.

**<saml:AudienceRestriction><saml:Audience>{audience}</saml:Audience></saml:AudienceRestriction>**

**ruby-saml version 1.3.0**

**Error message** : **https://app.onelogin.com/saml/metadata/{idp_entity_id} is not a valid

[2016-09-02 12:03] pitbulk commented on #296
Can you check the Onelogin Connector and provide a value for the Audience?
If you don't provide it, a {audience} value is sent and the SP will invalidate the SAMLResponse.

[2016-09-02 14:26] richaasinha commented on #300
Hi,

I am also facing the same issue. So I have an application running on

 with

Although I am getting an error while installing ruby-saml(ERROR: Error installing ruby-saml, mini_portile2 requires Ruby version >= 1.9.2).

How do I install it properly without any error.

[2016-09-02 17:33] emarthinsen commented on #351
Oh, grabbing it from the HTTP params makes a ton of sense. Thanks for helping me with that.

[2016-09-02 17:33] #351 closed

[2016-09-05 12:29] #346 closed

[2016-09-06 09:02] santhoshcd commented on #296
I referred [325](https://github.com/onelogin/ruby-saml/issues/325#issuecomment-220547687) and configured sp_entity_id as an audience and ACS Url as a Recipient in IDP (OneLogin).

Both the validations are working fine.

thanks!

[2016-09-08 07:27] santhoshcd commented on #300
Any update on this?

[2016-09-08 08:49] pitbulk commented on #300
Can you try this?

Let's suppose you have ruby 1.8.7, at the ruby-saml folder, try:
[code]

[2016-09-08 13:48] santhoshcd commented on #300
thanks @pitbulk , i will check this solution.

[2016-09-21 23:18] #333 closed

[2016-09-30 02:37] demonmind opened #355 "Canot parse SSO Signin url from this xml file"
I am having a metadata xml file like below, which i can not get the sso url to parse from the parser.

Is the XML below malformed, or is this an issue with the parser?

[code]

[2016-09-30 07:35] pitbulk commented on #355
Is malformed. Check it at https://www.samltool.com/validate_xml.php

[2016-09-30 12:56] demonmind commented on #355
Thank you 👍

[2016-09-30 12:56] #355 closed

[2016-10-07 17:25] demonmind commented on #329
Is there any update on this issue. We need to parse a metadata file to integrate with ADFS 2.0 and the xml file has multiple certificates. We are not able to create a valid SAML Request because of this.

[2016-10-07 17:37] pitbulk commented on #329
Sorry, this feature is not ready yet, but meanwhile, you can always parse it manually and set the right values to the settings.

[2016-10-07 17:57] demonmind commented on #329
So get the Cert from the metadata file and set it as the following?
`settings.idp_cert = 'long certificate string'`

[2016-10-07 18:18] pitbulk commented on #329
Yes, using the settings.idp_cert

And yes, is compatible with ADFS 2.0 or 3.0, but with the right settings on both sides (ADFS and ruby-saml).  Review the nameid format and the authn context request values.

[2016-10-07 18:25] demonmind commented on #329
Thank you.

[2016-10-13 18:29] pitbulk commented on #300
@santhoshcd any luck?

[2016-10-18 16:43] adamstegman opened #359 "Response#issuers method was removed"
b5c6c4d removed the `OneLogin::RubySaml::Response#issuers` method and inlined it in `#validate_issuer` instead.

We were depending on this method in apokalipto/devise_saml_authenticatable for multi-IdP support. Why was it removed? Should we re-implement it ourselves or can it be put back?

[2016-10-18 16:55] pitbulk commented on #359
I will implement a different approach and maintain the issuers method.

[2016-10-19 06:38] nqtien310 opened #360 "ruby-salm as idp"
not really an issue. so I wanna to implement my app as IDP and I came across this gem `saml_idp`. Is it right that `ruby-saml` is just an implementation for SP and `saml_idp` is for IDP?

[2016-10-19 08:16] pitbulk commented on #360
ruby-saml cover SP functionality.

We are not implementing an open source ruby IdP since we commercialize an [Identity as a Service platform](https://www.onelogin.com/product) (IDaaS).

I'm not familiar with open source IdP implementation on ruby so I can't help here.

[2016-10-19 08:16] #360 closed

[2016-10-19 08:46] rgerbranda opened #361 "Deeplinking - authorization"
I'm looking for instructions about deeplinking.

Example: a user opens a specific page, like https://our.domain/contacts, but is not authorised yet.

After authorization, I would like to redirect the browser to this specific page.
Is it possible to add this URL to the SAML parameters?

[2016-10-19 09:40] nqtien310 commented on #360
Thanks @pitbulk.

[2016-10-19 10:44] pitbulk commented on #361
At SAML the RelayState parameter is used to save the "state" of the SP before initiate the SAML flow in order to be able to recover the state once the SAML flow ends.

At ruby-saml you can generate the Authrequest with a ['RelayState' parameter](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/authrequest.rb#L51)
LogoutRequest acept the same ['RelayState' parameter](https:/

[2016-10-19 11:24] pitbulk commented on #330
Solved at:
- [Allow multiple authn_context_decl_ref in settings](https://github.com/onelogin/ruby-saml/commit/63e4b7a4e342fe9fb541a2cba634c718ed44f85f)
- [Allow options[:settings] to be an hash for Settings overrides in IdpMetadataParser#parse](https://github.com/onelogin/ruby-saml/commit/4616771ee06b2f3b42c3d74b4b23755b5d2f84cc)
- [include vendor folder on SimpleCov filters](https://github.com/on

[2016-10-19 11:24] #330 closed

[2016-10-19 11:25] #252 closed

[2016-10-19 12:50] #361 closed

[2016-10-19 12:51] #359 closed

[2016-10-19 12:58] pitbulk commented on #359
@adamstegman can you review if you experience any issue with the new 1.4.1 release.

[2016-10-19 21:18] GregMacdonald commented on #359
I had the same problem and it is resolved for me by 1.4.1

[2016-10-20 19:58] adamstegman commented on #359
Great, seems like that works just fine! 👏 I'll have to wait and see if any issue reports come in from people actually using multiple IdPs, but our tests pass.

[2016-10-31 14:48] mohammedabualsoud commented on #9
I have same response, I wonder what is required for me as developer to extract the requested token in this case where the token is encrypted (I know that from the soap response has <EncryptedAssertion> tag).
Do I have to request a private key from the STS or what ?

Any help appreciated

[2016-10-31 15:24] pitbulk commented on #9
Review [decrypt_assertion_from_document](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L893) method

[2016-10-31 18:35] mohammedabualsoud commented on #9
@pitbulk I'm php developer. I don't understand what is the magic behind this statement decrypt_element(encrypted_assertion_node, /(.*<\/(\w+:)?Assertion>)/m)

the RSTR response message include EncryptedAssertion element within, this mean the token are encrypted right? I need a way to decry-pt it in order to use it to authenticate my application with another service provider.

Thanks

[2016-10-31 18:40] pitbulk commented on #9
If you are a php developer.. then why you don't use [php-saml](https://github.com/onelogin/php-saml) instead of ruby-saml?

Review the [_decryptAssertion](https://github.com/onelogin/php-saml/blob/master/lib/Saml2/Response.php#L800) method

[2016-10-31 19:08] mohammedabualsoud commented on #9
@pitbulk can I use php-saml with machine to machine authentication (active authentication), I think not I'm using ws-trust with Bearer secenario

[2016-10-31 19:29] pitbulk commented on #9
php-saml implement part of the SAML protocol. WS-Trust is a different protocol.

[2016-10-31 19:32] mohammedabualsoud commented on #9
Exactly, but the format you got from ws-trust protocol are samel2 in my case.
and this lib mentioned it's for SSO in browser (with user interaction).
"SAML is an XML-based standard for web browser single sign-on"

[2016-11-08 23:28] jondavidjohn opened #362 "Support multiple attribute values per attribute"
In an example SAML AttributeStatement found [here](https://en.wikipedia.org/wiki/SAML_2.0#SAML_2.0_Assertions), the point of providing AttributeValue is to provide the IDP options for input in the associated attribute.

This gem does not currently support supplying multiple AttributeValue elements for a given Attribute.  Doesn't this actually mean the IDP could only provide a single value for this

[2016-11-09 01:01] pitbulk commented on #362
We [take all the values](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L156), you can see that [test](https://github.com/onelogin/ruby-saml/blob/master/test/response_test.rb#L1008) where the toolkit extracts multiple values.

Have you read the [Retrieving Attributes](https://github.com/onelogin/ruby-saml#retrieving-attributes) section of the documentation?

I

[2016-11-10 17:23] jondavidjohn commented on #362
Sorry 😕  was confused myself about how this all works (new to SAML).  I realize now that this is for IDPs sending multiple values.

Is there a way to communicate (as an SP) to IDP implementors

1) The acceptable values for a given attribute?
2) Validation failures on said attributes?

[2016-11-11 10:12] pitbulk commented on #362
1) At the [AttributeConsumingService](http://www.datypic.com/sc/saml2/e-md_AttributeConsumingService.html) you can define [RequestedAttribute](http://www.datypic.com/sc/saml2/e-md_RequestedAttribute.html) elements with AttributeValue.
2) I think SAML standard does not cover it.

[Metadata for the OASIS SecurityAssertion Markup Language](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-

[2016-11-14 21:13] jondavidjohn commented on #362
If I were to make a PR, would you see it reasonable to optionally accept an array as the `attribute_value`?

[2016-11-14 21:41] pitbulk commented on #362
Yes sure, that is what I suggested. Extend the current paramter to support also an array.

[2016-11-14 22:06] jondavidjohn commented on #362
@pitbulk to which branch should I submit my PR?

[2016-11-14 22:31] pitbulk commented on #362
master

[2016-11-16 01:09] #362 closed

[2016-12-10 12:52] raphaelcm opened #364 "What is the purpose of settings.idp_entity_id?"
I can't figure out what it maps to in the SAML Specification: https://www.oasis-open.org/committees/download.php/35711/sstc-saml-core-errata-2.0-wd-06-diff.pdf

[2016-12-10 18:37] raphaelcm opened #365 "Unhelpful error message: "The response has an empty Destination value""
No idea what this means. I don't see where or how to set destination. I get this both when I manually configure settings and when I use metadata-configured settings.

[2016-12-10 18:45] raphaelcm commented on #365
Settings=

`#<OneLogin::RubySaml::Settings:0x007f865733eac0 @assertion_consumer_service_binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST", @single_logout_service_binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect", @idp_cert_fingerprint_algorithm="http://www.w3.org/2000/09/xmldsig#sha1", @compress_request=true, @compress_response=true, @soft=true, @security={:authn_requests_signed=

[2016-12-10 18:46] raphaelcm commented on #365
Response=

`#<OneLogin::RubySaml::Response:0x007f865c1f26f8 @errors=["The response has an empty Destination value"], @options={:settings=>#<OneLogin::RubySaml::Settings:0x007f865733eac0 @assertion_consumer_service_binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST", @single_logout_service_binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect", @idp_cert_fingerprint_algorithm="http://www

[2016-12-10 20:21] raphaelcm commented on #365
I'm only getting this error with OneLogin. Okta works fine.

[2016-12-11 12:52] pitbulk commented on #364
idp_entity_id --> IdP EntityID.

[code]

Reference: https://www.oasis-open.org/committees/download.php/51890/SAML%20MD%20simplified%20overview.pdf

We use it on the ruby-saml to validate the Issuer value of the SAMLResponses.

[2016-12-11 12:52] #364 closed

[2016-12-11 12:52] pitbulk commented on #365
The ["The response has an empty Destination value"](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L597) happens when the SAMLResponse, sent by the Identity Provider, set an empty value for the Destination.

If you are using the [OneLogin-SAML-Test-Connector](https://support.onelogin.com/hc/en-us/articles/202673944-How-to-Use-the-OneLogin-SAML-Test-Connector),

[2016-12-11 13:16] raphaelcm commented on #365
I'm not using the test connector, I've set up a company app in OneLogin. I don't see where to set recipient:

<img width="576" alt="screen shot 2016-12-11 at 8 14 29 am" src="https://cloud.githubusercontent.com/assets/929080/21080322/fde1b06c-bf79-11e6-96cf-ad65177ffd0e.png">
<img width="545" alt="screen shot 2016-12-11 at 8 14 37 am" src="https://cloud.githubusercontent.com/assets/929080/21080323

[2016-12-11 13:17] raphaelcm commented on #364
So then what is the purpose of `settings.issuer`?

[2016-12-11 13:27] raphaelcm commented on #365
The closest thing I can find to what you're describing in the SAML spec is:

[code]

I've set `assertion_consumer_service_url`. Should I be setting something else?

[2016-12-12 08:51] pitbulk commented on #365
If is a "Company app connector" you may contact OL Customer Support and ask them to set the desired value for the "Recipient" field.

[2016-12-12 11:10] raphaelcm commented on #365
What type of value should "recipient" have?

[2016-12-12 11:37] pitbulk commented on #365
In your case the SP ACS URL endpoint.

[2016-12-12 11:39] raphaelcm commented on #365
The ACS Url is different per customer. e.g. http://xyz.com/COMPANY_ID/saml. How do we manage that?

We've had a OneLogin-approved connector for >2 years. Why has it suddenly stopped working with the OneLogin Ruby SAML Gem?

[2016-12-12 11:47] pitbulk commented on #365
Let me relax that destination validation on the ruby-saml.

[2016-12-12 12:03] pitbulk commented on #365
In this commit I added the ability to skip destination validation:
https://github.com/onelogin/ruby-saml/commit/15fb4789f8cd119fdbd722d58c659129d23a256d

All you need to do is initialize the Response object with the skip_destination option  as you can see here:
https://github.com/onelogin/ruby-saml/commit/15fb4789f8cd119fdbd722d58c659129d23a256d#diff-a83ee5123611dc0315cbee9bfa8eab29R27

[2016-12-12 12:10] pitbulk commented on #365
This commit fixes the issue by relaxing the destination validation
https://github.com/onelogin/ruby-saml/commit/f814c0a4571219212e11c45308aa0f623bfed453

you can initialize the SAMLResponse with the skip_destination option to avoid the issues you reported here. Here is an example:
https://github.com/onelogin/ruby-saml/commit/f814c0a4571219212e11c45308aa0f623bfed453#diff-a83ee5123611dc0315cbee9bfa8

[2016-12-17 12:01] #365 closed

[2017-01-03 21:49] irvingreid opened #366 "ruby-saml 1.4.1 release is not tagged in Github"
The 1.4.1 release is mentioned in changelog.md and available on RubyGems (https://rubygems.org/gems/ruby-saml/versions/1.4.1), but is not listed in https://github.com/onelogin/ruby-saml/releases.

[2017-01-03 22:06] pitbulk commented on #366
Thanks for reporting that.

Now is available:
https://github.com/onelogin/ruby-saml/releases/tag/1.4.1

[2017-01-03 22:06] #366 closed

[2017-01-10 13:12] acreeger opened #370 "Any plans to release v1.4.2?"
I was wondering if there is any plan to release v1.4.2 with some of the recent changes?

Thanks for all your hard work on this gem.

[2017-01-10 16:25] pitbulk commented on #370
As you requested it, I will publish a new version soon.

[2017-01-11 02:26] acreeger commented on #370
Thank you!

[2017-01-11 02:26] acreeger commented on #370
Also, I noticed that 1.3.0 is the last tag. Is that intentional?

[2017-01-11 09:28] pitbulk commented on #370
1.3.0 isn't the last tag...

- [1.4.1](https://github.com/onelogin/ruby-saml/releases/tag/1.4.1)
- [1.4.0]((https://github.com/onelogin/ruby-saml/releases/tag/1.4.0)
- [1.3.1]((https://github.com/onelogin/ruby-saml/releases/tag/1.3.1)

[2017-01-11 10:22] pitbulk commented on #370
Here is the release:
* Github: https://github.com/onelogin/ruby-saml/releases/tag/1.4.2
* Rubygems: https://rubygems.org/gems/ruby-saml/versions/1.4.2

[2017-01-11 10:22] #370 closed

[2017-02-07 14:00] reggieb opened #374 "SamlReponse only supports one level of StatusCode"
SAML supports [two levels of StatusCode](https://docops.ca.com/ca-api-gateway/8-3/en/policy-assertions/assertion-palette/message-validation-transformation-assertions/set-saml-response-status-code-assertion), and on failure it is the inner one that has the most pertinent information. For example, here is a NoAuthnContext failure:

[code]

However the method `OneLogin::RubySaml::Response#status_code

[2017-02-07 17:26] pitbulk commented on #374
Sure, are you able to provide the PR with that change and unit test?

[2017-02-14 22:01] angelicas opened #375 "idp_metadata_parser not parsing correct idp_cert from metadata"
The method certificate_base64 method here: https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/idp_metadata_parser.rb#L186-L203, which populates the idp_cert of the settings is not parsing the correct x509 cert. This is causing the saml_response object to be invalid. So when I run saml_response.is_valid? I get ["Invalid Signature on SAML Response"]. There are many x509s (appx

[2017-02-15 06:34] pitbulk commented on #375
Right now the parser extracts the first x509certificate found.

[2017-02-15 16:44] angelicas commented on #329
@pitbulk is this feature ready yet? I'm running into the same issue with ADFS having multiple certs due to the Auto Certificate Rollover feature within ADFS.

[2017-02-15 17:17] angelicas commented on #375
Referencing new comment I made here: https://github.com/onelogin/ruby-saml/issues/329

[2017-02-15 17:18] angelicas commented on #375
Ah I see. Ok I guess I'll have to monkey patch a workaround. Thanks.

[2017-02-15 17:18] #375 closed

[2017-02-15 17:19] angelicas commented on #329
Sorry just saw your comment on my other issues post. Guess I'll just monkey patch for now. Thanks!

[2017-03-01 19:17] rajeev07cha opened #377 "Where and how to skip validation/validations through configuration settings?"

[2017-03-01 20:18] pitbulk commented on #377
Is not done at settings level, instead parameter past to the [initialize method](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L40) of the Response class.

As described on the method documentation:
[code]

[2017-03-06 07:24] prcongithub opened #378 "NoMethodError: undefined method `empty?' for #<OpenSSL::PKey::RSA:0x5d6ed9cb>"
Getting following error when ```metadata_signed``` is set to true.
[code]
Any ideas?

[2017-03-06 11:31] pitbulk commented on #378
At the generate method of metadata, toolkit [get the private key from the settings](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/metadata.rb#L111) using the [get_sp_key](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/settings.rb#L138) method.

The expected value for the private_key of the settings is to be [a string](https://github.com/onelogin

[2017-03-06 11:31] #378 closed

[2017-03-07 05:14] prcongithub commented on #378
Thanks @pitbulk. My bad!

[2017-03-13 12:01] emanuil-tolev commented on #276
@thekendalmiller

Would you be able to provide some details on what you had to do to get ruby-saml working with ADFS 3.0? Perhaps on https://gist.github.com .

Especially on the ruby-saml side. Nothing secret, of course. The configuration you used with the secrets stripped out would be most helpful.

[2017-03-13 12:58] thekendalmiller commented on #276
@emanuil-tolev I didn't have to do anything specific for ADFS 3.0. We're currently using `ruby-saml (1.2.0)`

The settings:

[code]

[2017-03-13 13:40] emanuil-tolev commented on #276
Ah, I see. Amazing, thank you!

[2017-03-17 09:57] reggieb commented on #374
Hi @pitbulk, I hadn't spotted that you'd responded to this issue.

I don't have a problem creating a PR, but the [PR I've currently have in place](https://github.com/onelogin/ruby-saml/pull/373) seems to be failing a CI test due to what looks like a nokogiri version issue in JRuby. I think if I submit another PR it will have the same issue.

[2017-03-17 10:05] pitbulk commented on #374
you can send that PR... it seems that in JRuby sometimes there are random false failing CI test

[2017-03-26 14:00] gitleet opened #381 "Any examples of handing SAML and custom logins?"
I want to provide my users with the option of using SAML, but the default way they will be signing up and logging into my application will be a custom Rails authentication system.

When using SAML and the user authenticates, do I just then create the regular authentication token and save it to a cookie to fetch the user from my database?  I guess the first time I will somehow pull  certain informa

[2017-03-26 16:57] archonic commented on #381
When using Devise and SAML, you just have two ways into the application - through the Devise sessions controller and through a SAML controller. Both use the `sign_in` method if everything goes well. You should be able to follow this example SAML controller and replace any Devise references with your own authentication methods. https://github.com/onelogin/ruby-saml-example/blob/master/app/controlle

[2017-03-29 22:46] vincentwoo commented on #329
Would love an update on this! @pitbulk, do you still plan to have a toolkit wide solution to this problem? Unfortunately, as an SP, you don't have too much control over what different IdPs hand you.

[2017-03-29 23:20] pitbulk commented on #329
Yes, I plan to provide a solution for that, but atm, I'm working on other tasks at Onelogin :(

[2017-03-29 23:47] vincentwoo commented on #329
Can I pay money to accelerate this feature?

[2017-03-30 21:29] arminak89 opened #384 "Creating Logoutrequest with multiple sessionindex entries(IDP initiated SLO)"
As part of the IDP implementation, I want to create logout requests with multiple session index entries. Does ruby-saml support this functionality?

[2017-03-30 21:35] pitbulk commented on #384
Right now only 1 session index per request, but you could fork and customize it
https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/logoutrequest.rb#L115

[2017-04-07 10:35] #377 closed

[2017-04-07 11:09] pitbulk commented on #329
@vincentwoo I started to implementation the desired functionality on the [php-saml](https://github.com/onelogin/php-saml/pull/206) because I fill more comfortable with that language.
Later I will ask for reviews of the provided solution and later port to the rest of toolkits, starting with the ruby-saml toolkit.

I think the approach will be very similar to [290](https://github.com/onelogin/ruby-s

[2017-04-15 20:28] #384 closed

[2017-04-15 20:29] #381 closed

[2017-04-15 20:29] pitbulk commented on #374
any progress?

[2017-04-15 20:30] pitbulk commented on #329
That functionality is ready on php-saml (now on test phase). Soon I will port that to this toolkit.

[2017-04-15 20:31] #293 closed

[2017-04-16 07:11] kapil-kk opened #387 "Can't verify CSRF token authenticity"
Doing ruby-saml integration with okta. All things executed successfully in which, I am getting the SAMLResponse from okta after successfully login with okta and when I redirect it to any routes I see this message in the server log "**can't verify CSRF token authenticity**" and  "**Invalid Authenticity token in HelloWorldController#Index"** in browser.

What I am missing here can someone help pleas

[2017-04-16 14:32] pitbulk commented on #387
It seems your ruby app has CSRF token protection so when the IdP sends the SAMLResponse to the Assertion Consumer Service endpoint of your app, since there is no CSRF token included in the POST you get that error.

You will need to whitelist the SAML endpoints to not require CSRF token (SAML has its own mechanism to maintain the integrity of the message, so CSRF protection is not required on those

[2017-04-16 14:32] #387 closed

[2017-04-18 13:28] kapil-kk commented on #387
@pitbulk I tried the solution provided by you but It does not work.

[2017-04-18 16:32] pitbulk commented on #387
That error does not belong ruby-saml, instead the ruby web framework that you are using.

You need to deactivate CSRF protection on SAML endpoints. I don't know how your app is, what framework you are using.. so can't help more than what I already provided to you, sorry.

[2017-04-19 06:51] kapil-kk commented on #387
@pitbulk - thanks for the quick reply. Can you please confirm why my response is not valid. when I am going to check response.is_valid? it always return false.

[2017-04-19 10:58] pitbulk commented on #329
I started the development on ruby-saml, you can follow on that PR:
https://github.com/onelogin/ruby-saml/pull/389

[2017-04-20 14:27] spiderpug opened #390 "Cannot process ADFS 2.0 response: Found an unexpected number of Signature Element"
I'm trying to connect our Rails Application using OmniAuth-Saml with ADFS 2.0 and I set up the relying party trust as provided by Metadata output and set up the claim rules to make that work with NameId.

Those are my settings:

[code]

The **request** to the IdP looks like this:

[code]

I am redirected to the IdP, and redirected back to my app upon successful login. The response looks like this:

[2017-04-20 14:52] pitbulk commented on #390
ruby-saml Assertion Consumer Endpoint manage HTTP-POST binding.
The reply from ADFS is HTTP-Redirect binding.

The error that you are experiencing is related with the fact that ruby-saml is trying to validate the SAMLResponse following the validations of HTTP_POST binding... so it looks for a signature inside the XML of the SAMLResponse, not at the GET parameter.

In order to solve that. configure

[2017-04-21 07:50] spiderpug commented on #390
That was it. Thank you very much for your quick support.

Gem is working flawlessly now!

Is this something `omniauth-saml` or `ruby-saml` could check against? But maybe it was just my stupidity to configure it this way...

[2017-04-21 07:50] #390 closed

[2017-04-21 21:05] reggieb commented on #374
Sorry - I've moved to another project, and we managed to work around the problem in [the project](https://identityassurance.blog.gov.uk/2017/02/13/using-gov-uk-verify-to-transform-a-local-authority-service/) where the fix was required.

However, I should be able to get this into a PR (especially now that my other PR is progressing), so at the moment it is a case of finding the time to write it.

[2017-04-24 14:35] pitbulk commented on #329
The PR #389 is ready.

@vincentwoo @angelicas @demonmind @erlingwl @davelooi @tomilaine want to review and test if matches your expectation?

[2017-05-01 04:19] GeorgePhillips opened #392 "Using this with Cert and endpoints directly"
I am struggling to find documentation about how to use this library with the metadata directly.

Here is what I have gotten to:

[code]

what format should the data be in? I am used to working with the node passport library at https://github.com/bergie/passport-saml. Is this workflow supported?

[2017-05-03 07:51] pitbulk commented on #392
I [implemented recently](https://github.com/onelogin/ruby-saml/pull/389) (not merge yet) a way to generate a settings object from a metadata XML/URL.

Is that what you are looking for?

In addition check [ruby-saml-example](https://github.com/onelogin/ruby-saml-example) that uses ruby-saml.

[2017-05-04 02:43] GeorgePhillips commented on #392
I was missing the certificate and private key and the security options.

[code]

The cert can contain the head and footer of certificate. Alternatively if it is all on one line with no header or footer the gem will put it in the correct format.

[2017-05-04 02:43] #392 closed

[2017-05-12 02:50] bjm88 opened #394 "Generated SamlRequest doesn't Base64 decode properly"
Hi- I am logging the result of
saml_request = OneLogin::RubySaml::Authrequest.new
xml_req = saml_request.create(@saml_settings, extra_params)

our sample settings are basic, no encryption or special use cases.  The full response is like such
https://testidp.someSamlIdp.com/sso?SAMLRequest=pZNBj9owEIX%2FSm4%2BJcYQFrAIUgSqhLRtEWx72MvK6wys1cROPeNu%2Bu%2FrBGg57O6lp0jj5%2FnevHGWqJq6lWWgF7uHnwGQkhIRPBln

[2017-05-12 11:20] pitbulk commented on #394
An AuthNRequest on the HTTP-Redirect binding is first deflate and then base64 encoded... later urlencoded.

So if you copy that SAMLRequest value, [urldecode it](https://www.samltool.com/url.php) and later [base64 decode + inflate](https://www.samltool.com/decode.php) you will get:

[code]

[2017-05-12 11:20] #394 closed

[2017-05-12 12:37] bjm88 commented on #394
Thank you!  worked perfectly!  I was following the code and it looked like compression was only done if passed as a flag true in settings, I guess I missed somewhere that is the default behavior.

[2017-05-14 04:06] tngan opened #395 "Execute validate_signed_elements only if signed assertion is expected"
When `omniauth-saml` handles the response (https://github.com/omniauth/omniauth-saml/blob/master/lib/omniauth/strategies/saml.rb#L134), it would carry out the response validation `validate_signed_elements` no matter the assertion is signed or not (`WantAssertionSigned` in SP's metadata).

If the assertion is not signed, the following code will throw error because `signature_nodes` and `signed_elem

[2017-05-14 08:32] pitbulk commented on #395
See https://github.com/onelogin/python-saml/issues/193#issuecomment-300496562

[2017-05-14 15:48] tngan commented on #395
@pitbulk Thanks for your clarification, so in general, if the `WantAssertionSigned` is set to false, does it mean the SP prefers to do signing on the entire response ?

[2017-05-14 15:56] pitbulk commented on #395
Value of  [want_assertions_signed](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/settings.rb#L158) on the settings are used on [SP metadata](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/metadata.rb#L32) to indicate to the IdP if the assertion should be signed or not.

SAML standard requires at least the Assertion or the whole message to be sig

[2017-05-14 16:01] tngan commented on #395
I received a SP metadata indicating `WantAssertionSigned` to be false so I felt a bit of confusing. Thanks for your help, I will close this issue as well.

[2017-05-14 16:01] #395 closed

[2017-05-18 11:41] #329 closed

[2017-05-25 21:18] bahudso opened #399 "1.4.2 -> 1.4.3 Update - A valid SubjectConfirmation was not found on this Response"
After updating to 1.4.3 our SAML system began reporting the `a valid SubjectConfirmation was not found on this Response` for any SAML response we received.

After reverting to 1.4.2 we no longer receive that error message.

Very odd for a bug patch, eh?

[2017-05-25 21:35] pitbulk commented on #399
Must be related with that PR:
https://github.com/onelogin/ruby-saml/pull/397

On 1.4.3 we validate the Recipient of the SubjectConfirmation.

Add the [skip_recipient_check](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L741) as an option when you [initialize the Response](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L40

[2017-05-29 14:19] omulmicsinegru commented on #322
Hello @archonic . I'm having the same issue you are .

If you remember, can you please tell me what setting allowed you to set a recepient field?
I've searched for it , but was unable to find it.

Thank you in advance for your help.

[2017-06-01 09:23] jensljungblad opened #401 "Problem parsing a metadata file"
We have a metadata file that we are trying to parse with `get_idp_metadata` but it fails to return `idp_cert` and `idp_cert_fingerprint`. It does return `idp_cert_multi` however.

Here is the metadata file: https://login.lararforbundet.se/federationmetadata/2007-06/federationmetadata.xml

[2017-06-01 11:23] pitbulk commented on #401
That happens because different IdP cert is used to sign and encrypt, and now we support different certs for each functionality.

You will be ok with the idp_cert_multi value.

Review the [documentation](https://github.com/onelogin/ruby-saml#signature-validation) about this new [feature](https://github.com/onelogin/ruby-saml/pull/389)

[2017-06-01 12:27] Linuus commented on #401
Hi!

Our settings look like this:

[code]

But we still get this error:
`Authentication failure! invalid_ticket: OneLogin::RubySaml::ValidationError, No fingerprint or certificate on settings`

If I understand correctly it should ignore `:idp_cert`and `:idp_cert_fingerprint` since we have the `:idp_cert_multi` parameter?

[2017-06-08 15:53] asaaki commented on #399
Technically speaking an breaking change was introduced.
According to SemVer this should have been even a major level bump (2.0.0).
(The change was not backwards compatible in regards to that I have to opt out of the new behaviour instead of opting in.)

Anyway, we can agree on that this change was not just a bugfix.

[2017-06-14 20:00] jesmith17 opened #403 "undefined method `gsub' when parsing response"
I am parsing SAML token and am getting the following error when in my code.

[code]

The code being executed is

[code]

It appears that the Response.new command is expecting a string, and not an ActionController::Parameters object which is a bit of a surprise as that would be the default object to come back in a call to `params[:Response]` or `params[:SAMLResponse]` like is shown in the examples.

[2017-06-15 19:03] tmertens commented on #283
@pitbulk Why not just alias the method and deprecate the old one?

[2017-06-15 19:10] pitbulk commented on #283
That should work.

[2017-07-03 17:10] borourke commented on #401
Yes, we also have the same issue.  We get:

[code]

even though our settings file looks like this:
[code]

Please look into this as it's pretty clear that is_valid? runs validate method, and first line of validate method is: https://github.com/onelogin/ruby-saml/blob/52472021725be64e25bed93cbba2259717ed573b/lib/onelogin/ruby-saml/response.rb#L410-L420

[2017-07-04 13:50] pitbulk commented on #401
You are right, I will fix that

[2017-07-04 15:51] borourke commented on #401
Thanks, appreciated!

[2017-07-06 11:37] jacobwalkr opened #406 "NoMethodError from IdpMetadataParser#parse_to_hash"
I have the following two lines in my Devise initializer, trying to set up with [TestShib](https://www.testshib.org/):

[code]

When run, the second line throws a `NoMethodError`:

[code]

I get the same error running it through IRB and when loading the XML file as a string with `File#load` and `IdpMetadataParser#parse_to_hash`.

Am I missing something? I can't figure this one out. Thanks :)

[2017-07-06 11:53] pitbulk commented on #406
what ruby-saml version are you using?

parse_remote_to_hash method was introduced on [ruby-saml 1.4.3](https://github.com/onelogin/ruby-saml/releases/tag/1.4.3).

[2017-07-06 12:01] jacobwalkr commented on #406
Oh yeah, sorry: ruby-saml 1.4.3

[2017-07-06 13:11] pitbulk commented on #406
The info published at: https://www.testshib.org/cgi-bin/sp2config.cgi?dist=Others&hostname=localhost
is not IdP metadata XML, instead you should use:   https://idp.testshib.org/idp/shibboleth

[2017-07-06 13:11] #406 closed

[2017-07-06 13:24] jacobwalkr commented on #406
Oh. Just being thick then! Thanks a lot :)

[2017-07-06 13:32] pitbulk opened #407 "Improve IdpMetadataParser"
At #406 we saw that if the parser is not able to read IdPDescriptor, later a
NoMethodError: undefined method `attributes' for nil:NilClass
is raised.

We may prevent that behavior and detect sooner that scenario to raise a "IdPDescriptor not found" error.

[2017-07-06 14:07] pitbulk commented on #403
At [ruby-saml example](https://github.com/onelogin/ruby-saml-example) I have the [following code](https://github.com/onelogin/ruby-saml-example/blob/master/app/controllers/saml_controller.rb#L22):
[code]
and it works for previous versions of Rails (Rails 4).

Maybe failing on Rails 5 where as you suggested, have to convert the parameter into a string.

[2017-07-06 14:09] pitbulk commented on #401
Fixed with #402

[2017-07-06 14:09] #401 closed

[2017-07-14 05:58] Chaitanya40 opened #408 "NoMethodError: undefined method `get_idp_cert_multi' for #<OneLogin::RubySaml::Settings:0x00000009fcc3e0>"

[2017-07-14 10:38] #408 closed

[2017-07-15 17:08] antislice opened #409 "idp_cert_multi issue w/ the hash storing the keys"
I ran into an issue getting with getting "Invalid Signature on SAML Response" on a response with with `idp_cert_multi` set. The IdP is ADFS if anyone's searching. I tracked it down to a hash access keys.

`IdpMetadataParser#certificates` uses string keys to save the keys, `'signing'` and `'encryption'`. This is a problem in `Settings#get_idp_cert_multi` when it tries to access the cert with the ke

[2017-07-17 11:28] pitbulk commented on #409
We may change the way we calculate the [certificates](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/idp_metadata_parser.rb#L250) and use the symbol keys.
And update also the [merge_certificates_into](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/idp_metadata_parser.rb#L318) method.

Do you want to contribute with a PR?

[2017-07-18 04:50] antislice commented on #409
Yeah, I'm planning on it when I get the chance. This came up in the middle of a lot of deadlines so I wasn't able to submit a PR with the issue. It stumped me long enough I wanted to get the workaround out though.

[2017-07-24 19:44] #407 closed

[2017-07-26 20:15] #374 closed

[2017-07-26 20:15] #409 closed

[2017-08-05 03:01] bheeshmar opened #412 "idp_multi_cert nil if only multiple signing certs in metadata in 1.4.3"
I have a metadata file from an Azure AD instance which has 3 "signing" certs but no "encryption" certs. When I parse this with the `IdpMetadataParser` I get the first signing cert in the `idp_cert` field, but a nil in `idp_cert_multi` instead of the 3 certs I expect.

I believe the root cause is the `certificates.size == 1 ||` condition in [#merge_certificates_into](https://github.com/onelogin/rub

[2017-08-07 11:13] pitbulk commented on #412
@bheeshmar
Are you using master with recent changes?
https://github.com/onelogin/ruby-saml/pull/410

[2017-08-07 14:13] bheeshmar commented on #412
@pitbulk No, I'm running 1.4.3 and using omniauth-saml. I worked around the symbolized keys problem for now, but the bigger issue is the lack of `idp_cert_multi` support when there are only signing KeyDescriptors.

[2017-08-14 15:06] pitbulk commented on #412
I will do a new release soon and review idp_cert_multi support

[2017-08-14 19:49] bheeshmar commented on #412
Thanks! Looking forward to it and thanks for all the hard work!

[2017-08-17 10:56] thiago-sydow commented on #412
Having this issue too, glad to see that the fix is not far away to be released. Thanks. 👍

[2017-08-30 21:47] bheeshmar commented on #412
One more issue around `idp_cert_multi` support: `Response#validate_response_state` only checks `idp_cert` and `idp_cert_fingerprint` from settings - it doesn't consider `idp_cert_multi` which when set, does not set either of those fields.

[2017-08-31 09:44] pitbulk commented on #412
I will release it today.

[2017-08-31 10:43] pitbulk commented on #412
Released 1.5.0

[2017-08-31 10:43] #412 closed

[2017-09-08 00:20] jhubert commented on #399
We just ran into this as well. When following SemVar, we don't apply a lot of scrutiny to patch bumps. Our fault, I suppose.

I agree that this would definitely be on the major bump side. My recommendation for next time would be to have it introduced with `skip_recipient_check` defaulting to true and then release a 2.0.0 with the default swapped to false.

[2017-09-08 14:59] omgitsbillryan opened #413 "Unclear Exception Message Wording"
https://github.com/onelogin/ruby-saml/blob/e9d454b5bf1d203c53fd008a7c2200aff9e4f7d6/lib/onelogin/ruby-saml/idp_metadata_parser.rb#L106

I _think_ this is supposed to read:

[2017-09-08 16:29] pitbulk commented on #413
do you have a PR?

[2017-09-11 09:23] ravishwetha opened #415 "redirect_to [created request] preflight response is invalid"
def init
    request = OneLogin::RubySaml::Authrequest.new
    redirect_to(request.create(saml_settings))
end

Adding this block to my saml_controller, I get the error:

Failed to load https://.../trust/saml2/http-post/sso/...: Response for preflight is invalid (redirect)
However following the link generated from request.create(saml_settings) allows me to log in. Is there a better way to initiate

[2017-09-11 10:12] pitbulk commented on #415
That the normal way to execute SP-initiaited SSO as you can see [here](https://github.com/onelogin/ruby-saml-example/blob/master/app/controllers/saml_controller.rb#L16)

[2017-09-11 10:35] ravishwetha commented on #415
I understand, then would there be a way to use this without encountering the preflight is invalid error?

[2017-09-11 10:37] pitbulk commented on #415
I never saw that error before. It doesn't seem an error related with ruby-saml but instead with the framework you are using.

[2017-09-11 10:50] ravishwetha commented on #415
Alright then, thanks. It seems that most browsers don't follow the 302 redirect I receive: https://stackoverflow.com/questions/28917489/http-302-redirect-to-a-cors-request-is-dropped-by-browsers. But then I assume receiving that is not normal and unrelated to ruby-saml yes?

[2017-09-11 22:47] jhubert opened #416 "AttributeValues are required to be strings for Metadata"
We came across this when updating the to latest version.

The metadata generation is [using `.to_str` to get the attribute value](https://github.com/onelogin/ruby-saml/blob/186e229e6b8015638a31c11ca700dcca318c2e28/lib/onelogin/ruby-saml/metadata.rb#L102). `to_str` is only defined on String values, which is throwing a 500 error for our configuration that has boolean attribute values.

This may be t

[2017-09-12 06:37] #415 closed

[2017-09-12 08:11] pitbulk commented on #416
There is no reason, please provide a PR with the change and some test to cover the new behavior and I will be happy to merge ;).

[2017-09-12 16:04] #413 closed

[2017-09-19 03:16] jhubert opened #417 "Failing security verifications from http://saml.oktadev.com/ about time bound conditions"
I just tested our SAML security using the verification tool at http://saml.oktadev.com/ and 3 of the checks are failing:

![image](https://user-images.githubusercontent.com/3384/30553880-669c6042-9c57-11e7-89fe-4e1e004e8d79.png)

I checked the SAML 2.0 spec and it seems that ruby-saml is accurate in that the lack of a time bound condition means that the assertion is valid.

At the same time, it se

[2017-09-19 08:34] pitbulk commented on #417
NotBefore and NotOnOrAfter are optional attributes, they can be omitted and that does not invalidates the SAMLResponse.

[code]

[code]
ruby-saml [validates](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L664) NotBefore and NotOnOrAfter when they are present.

I don't know how the tool that you are using works, but if you modify the SAMLResponse in some way,

[2017-10-03 17:02] chrisbloom7 commented on #304
Has there been any movement on this? @xeger, can you provide an example of rescuing this?

[2017-10-03 19:02] xeger commented on #304
I looked into this and discovered that the gem has tests that _expect_ an OpenSSL raise, e.g.
https://github.com/onelogin/ruby-saml/blob/master/test/response_test.rb#L1262

Since there's at least one case of _expected_ behavior that raises OpenSSL::PKey::RSAError, I decided to rescue at the application level instead.

I can change the expectation if there is interest, i.e. rescue all OpenSSL PKey

[2017-10-04 23:28] dmerrick opened #419 "Is it possible to run this on an app behind a VPN?"
Possible noob question here:

We have an app running in a private VPC on AWS. It is only accessible to clients connected to our VPN.

I believe that SAML requires a callback from the SSO provider (in our case Google) to the app, so is it possible to use this in our situation? Or would we have to set up some sort of proxy or something in order to make the connection to our private app.

[2017-10-05 09:17] pitbulk commented on #419
As far as the user that do the SSO has access to the VPN, the SAML integration will work.

(on ruby-saml, SAML happens on user browser, is front-channel not back-channel).

[2017-10-05 09:17] #419 closed

[2017-10-05 19:24] dmerrick commented on #419
Thank you!

[2017-10-16 16:52] slalomandrew commented on #399
Hey, I've just run into this as well (maybe a version bump in omniauth-saml, which I'm using?). Where should I add the skip_recipient_check option if I'm creating a SAML callback in a Devise-omniauth controller?

[2017-10-18 21:15] dvfabbri commented on #399
@slalomandrew Finding the same issue as well. Where is skip_recipient_check added?

[2017-10-18 21:35] pitbulk commented on #399
https://github.com/onelogin/ruby-saml#updating-from-142-to-143

[2017-10-18 21:40] slalomandrew commented on #399
@pitbulk not as helpful when this is happening in a gem that depends on ruby-saml; not sure if there's a way to force their gem to drop its dependency from 142 to 143.

[2017-10-18 22:00] pitbulk commented on #399
Since that is reported by many ppl, I will release a 1.4.4 with that skip skip_recipient_check by default.

But 1.5.0 will have that functionality, so you may open issues on those gem and ask to support what is required  in order to be able to check the destination.

This gem try to be as much secure as possible, that why we keep improving code and adding checks that the SAML standard required and

[2017-10-19 16:47] pitbulk commented on #399
Noticed that release 1.4.4 will do anything based on how main projects adds ruby-saml as dependency.

There are issues opened on devise and [omniauth](https://github.com/omniauth/omniauth-saml/issues/146) and [devise](https://github.com/apokalipto/devise_saml_authenticatable/issues/100)

When I released the new version, I had no notice that  there are projects that does not require to set the acs

[2017-11-11 22:01] #416 closed

[2017-11-28 15:25] gtothesquare opened #424 "Ruby version update"
Hi, I was wondering if this gem officially supports ruby version > 2.2? We been trying it out and it seems to work. So, we were wondering why 2.2 is set as the latest it supports.
Thansk :)

[2017-11-28 17:50] pitbulk commented on #424
Good question, I added 2.3 and 2.4 to travis so we will test vs those versions and will update documentation properly.

[2017-11-28 17:52] #424 closed

[2017-12-12 08:01] tibra opened #427 "Setting requestedAuthnContext"
On an authentication request from our ruby-saml SP, the IdP (a NetIQ instance) instantly redirects back to the SP without offering a login form. When inspecting the params, I'm seeing a _SAMLResponse_ with a payload error:
`The status code of the Response was not Success, was Responder. `

The IdP logs are indicating
`urn:oasis:names:tc:SAML:2.0:status:NoAuthnContext`.

On other SPs where login fo

[2017-12-13 07:10] pandamouse opened #428 "Azure Metadata Multiple Signing Certificate only"
https://github.com/onelogin/ruby-saml/blob/b3ac5bd3acb76c31c6bbb24784cc8648244e0e80/lib/onelogin/ruby-saml/idp_metadata_parser.rb#L333

So I updated the ruby-saml to 1.6.0 hoping to sort out the Azure certificate rollover problem with the ipd_cert_multi. Unfortunately for us while it contains 3 signing certificate, it contains no additional encryption certificate. Resulting in certificates.size of

[2017-12-13 12:54] pitbulk commented on #428
I will review soon and fix the bug.

[2017-12-13 16:33] mcollie1 opened #429 "Signature Algorithm is Incorrect: Returning sha1 instead of sha256"
In the xml document, the Signature Method and Digest Method are as follows:

`<ds:SignatureMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"/>`
`<ds:DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha256"/>`

However, the Ruby-Saml gem parses the data as follows:

`:digest_method=>"http://www.w3.org/2000/09/xmldsig#sha1", `
`:signature_method=>"http://www.w3.org/2000/09

[2017-12-13 18:05] pitbulk commented on #429
Sorry, I don't get what you train to explain, can you detail what are you trying to parse and what method fails to parse it?

[2017-12-13 19:07] mcollie1 commented on #429
I'm parsing an idp metadata file, and I'm using the `.parse_remote` or `.parse` methods (depending on if the input is a url or file).

Within the metadata files, the `ds` tags above are present, with the `sha` that I want to extract. However, the `parse_remote` and `parse` methods are returning the default sha, `sha1` instead of `sha256`.

[2017-12-13 19:10] pitbulk commented on #429
Please provide an XML example (replace real domain by example.com if you want, so I can debug and fix.

[2017-12-13 19:15] mcollie1 commented on #429
I'm able to post XML immediately as there's a lot of identifiers in there. However, here's an extract from the file.

[code]

I expect `settings.security[:signature_method]` to return `http://www.w3.org/2001/04/xmldsig-more#rsa-sha256`. instead, it returns a string with `sha1` at the end

[2017-12-15 19:02] pitbulk commented on #429
That seems part of a Signature of the IdP's metadata. That shouldn't be related with SP signature algorithm, so I don't see why I should update settings.security[:signature_method] to use the same signature algorithm that the IdP has... can be different...

[2017-12-15 19:09] pitbulk commented on #427
By [default](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/settings.rb#L184) ruby-saml does not assign any value to the authn_context and authn_context_decl_ref.

That are reviewed on the create_xml_document method of authrequest.rb to create the AuthNRequest with RequestedAuthnContext or not.

So if those values are false or null, the generated AuthNRequest shouldn't co

[2017-12-15 23:17] #428 closed

[2017-12-19 15:43] tibra commented on #427
Thank you for pointing to the defaults and clearing things up, @pitbulk . After re-importing our metadata, this issue has been resolved :-)

[2017-12-19 15:43] #427 closed

[2018-01-02 11:29] akash-goel commented on #275
I try to add SSO (single sign-on) and use SAML2 protocol.

It works well when we run the application, but when we run the test cases then it gives the digest mismatch and signature validation error.

We have checked the Configuration and configuration is same in both the cases.

Request to share the parameters which are responsible for changing Signature Validation and digest mismatch error

[2018-01-12 10:56] mkon opened #430 "setting.issuer incompatibility with other IDPs"
We are trying to integrate against Trustbuilder IDP and if I set `settings.issuer` to my own application, it will fail the`validate_name_id` validation.
https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L783-L787
SPNameQualifier is the IDP, so it can not match my own application.

If I set issuer to the IDP, it will fail the `validate_audience`
https://github.com

[2018-01-12 11:31] pitbulk commented on #430
Understand the settings.issuer as the Service Provider entity ID, not the Issuer attribute of the SAMLResponse.

So in validate_name_id
name_id_spnamequalifier MUST match settings.issuer , the SP entityID.

[2018-01-15 09:43] thiago-sydow opened #431 "Plans to release a new version?"
Hello!

I'm facing the same issue as https://github.com/onelogin/ruby-saml/issues/428, and I see it was fixed already 1 month ago. Do you have any date for releasing a new version with that fix?

Thanks!

[2018-01-15 13:09] pitbulk commented on #431
I released it today :)

[2018-01-15 13:09] #431 closed

[2018-01-17 14:40] bmesuere opened #433 "enable additional SP metadata"
My idp requires me to add additional fields (e.g. Organization, ContactPerson, ...) to my metadata before I can register my SP with them.

Is there a way to add these to the generated metadata?

[2018-01-17 14:52] pitbulk commented on #433
Not supported.

You will need to extend the [Metadata](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/metadata.rb) class

[2018-01-17 15:18] bmesuere commented on #433
Thanks for your quick reply. It would be easier to extend this if `generate` was split into 2 separate methods: 1 to generate the document and 1 to sign and convert to string. The only way to do it right now is to effectively copy the existing code and add a few tags, which is not very future proof.

[2018-01-17 15:29] pitbulk commented on #433
Yes other toolkits (php-saml, python-saml) I has that splited.

Right now I see 2 alternatives:
- Extend generate method to accept contact and organization objects that will include info on the metadata.
- Extract the sign on a new static method and add a flag to sign or not the metadata calling the method we previously created, add another method that add contact and organization to the metadata.

[2018-01-18 19:03] angelicas commented on #329
Thanks so much for updating this library! It's working great for me for multiple certs and for the ADFS rollover.

I also have the issue of the multiple entities within the single entities descriptor tag so will have to see if that works well too. I noticed you added support for that. I still have a monkey patch for it because the downloading of the huge metadata file itself takes so long, let alo

[2018-01-18 19:22] pitbulk commented on #329
IdPMetadataParser should be executed to extract IdP metadata once to make the integration...not per login requirement. Your approach seems good to me.
Handle big files with multiple descriptors (like UK metadata file) is a well-known use case and there is no other way...than try to get an URL where only that IdP is published, instead trying to read it in a set.

[2018-01-18 22:14] angelicas commented on #329
Hm interesting. So in the examples in the README.md, you are expecting that users of this library populate the settings using the Idp Metadata Parser just once and then store it somewhere? How do you recommend knowing when the Idp's metadata has been updated? I didn't realize the expectation was that it just be used once and as a result, that is not how my team built our SSO flow. Currently we par

[2018-01-21 14:06] tomilaine commented on #329
I think this is more of an operations question (knowing how often the Idp certificate changes) and automating accordingly.

I would just like to add (even though it might be obvious) that whenever you store and read back such information make sure it's done in a secure way.

[2018-01-22 22:13] angelicas commented on #329
What do you mean @tomilaine? On the Idp side? You think it's best to ask the ADFS administrator how often the metadata file might change and try and check that often instead of automaticaly detecting it? For now I have been checking the etag on the large metadata file (the one with all of the entities) and if that has changed then I re-parse and store again to file overwriting the old file. Just w

[2018-01-31 23:11] acontero opened #435 "Multiple SingleSignOnServiceBinding - can I specify which to use?"
I have a question about the code here that is parsing the single sign on url which you will later assign to be the idp_sso_target_url in the settings object: https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/idp_metadata_parser.rb#L218. I'm not quite sure I understand how the it is prioritizing the bindings. In one of my customer's metadata files they list 3:

    <SingleSig

[2018-02-01 05:23] clader opened #436 "Unable to get logging output from OneLogin:RubySaml::Logger"
Hi there.  I've tried to follow the instructions to get logging output to a custom file from the readme.  I've tried placing the following:
[code]

... in a rails initializer, or in  my rails environments file, or in the SAML application controller, but nothing seems to work.

I see the file getting created, but nothing is ever logged to it.  I currently have SAML logins using the gem working and

[2018-02-01 15:28] pitbulk commented on #435
The parser method accepts the following options:

 # @option options [Array<String>, nil] :sso_binding an ordered list of bindings to detect the single signon URL. The first binding in the list that is included in the metadata will be used.
 # @option options [Array<String>, nil] :slo_binding an ordered list of bindings to detect the single logout URL. The first binding in the list that is include

[2018-02-02 01:40] vincentwoo opened #437 "Creating AuthRequests with nil RelayState sends empty RelayState URL param"
Doing `OneLogin::RubySaml::Authrequest.new.create(settings, RelayState: nil)` still creates an empty RelayState url param. Ideally nil (or perhaps even falsy) RelayState would cause `ruby-saml` to not output a param. This caused an issue for a customer integration recently. SimpleSaml (the PHP library) apparently decided that we had an improperly signed request with the empty param.

[2018-02-02 10:37] pitbulk commented on #437
We should definitely avoid to generate TX with empty RelayState URL parameters.

When we generate the [url_string](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/authrequest.rb#L67) we use the [build_query](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/utils.rb#L70) that [doesn't add the RelayState](https://github.com/onelogin/ruby-saml/blob/mas

[2018-02-06 00:57] vincentwoo commented on #437
I spent about 2m trying to get a branch going but it looks like your tests are completely broken for me on 2.5.0. If you can fix this situation I can try to make a PR, but I don't have the time to debug your test infrastructure.

[code]

[2018-02-06 00:58] vincentwoo commented on #437
Scratch last comment, got tests working w/ bundle exec

[2018-02-09 01:44] jnfeinstein opened #439 "Missing details in errors"
Good evening,

I recently encountered a response that had the following status:
[code]
I am dumping the errors as such:
[code]
This resulted in:
[code]
The additional information that the NameID was invalid would have been very helpful in debugging this customer's issue.

Is there a better way to dump the errors that would be more descriptive?

[2018-02-09 12:31] pitbulk commented on #439
The extra_code information [is added ](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L223) and returned by the status_code method and [is used to build the error](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L399).

Maybe the there is an issue with the method [status_error_msg](https://github.com/onelogin/ruby-saml/blob

[2018-02-10 00:11] jnfeinstein commented on #439
Looks like this was added in 1.5.0 and we're using 1.3.1.  Confirmed working in 1.6.1.  Thanks for your assistance!

[2018-02-10 00:11] #439 closed

[2018-02-13 17:33] capybaras opened #440 "Invalid audience: Misleading error message"
If an SP configuration expects an audience of "Expected", but the SAML assertion contains an audience of "Actual" you will get the following error message:

https://github.com/onelogin/ruby-saml/blob/d500e8f2d65da89b2fe66c3e253e783b540f8f77/lib/onelogin/ruby-saml/response.rb#L600

The message should be flipped.

[2018-02-14 21:55] codeodor opened #442 "Debugging Invalid Signature on SAML Response"
Hi,

Do you have any tips for debugging this error message?

We're getting that while using Google as the IDP, and I find it hard to believe Google is the issue here, especially, since we have multiple other Google apps for domains accounts as IDPs that work just fine.

So basically, I think it's a setting somewhere, but we have already started from scratch twice, using what we believe to be the s

[2018-02-15 11:07] pitbulk commented on #442
The [errors](https://github.com/onelogin/ruby-saml/blob/master/lib/onelogin/ruby-saml/response.rb#L44) attribute of the response object contain the cause of the invalidation.

In this case you have a "Invalid Signature on SAML Response" that means that the ruby-saml toolkit was not able to verify the signature of the SAMLResponse with the IdP public certificate registered on the toolkit.

In order

[2018-02-16 14:45] codeodor commented on #442
Thank you. I got a response as you mentioned, and used XMLSec as [detailed on this stackoverflow answer](https://stackoverflow.com/a/28016070/28451) to try to validate the signature.

The signature did not validate.

Then I noticed that there were two certificates in the IdP metadata for this account that was not working, whereas the ones we did have working only had one.

That led me to try with

[2018-02-16 14:45] #442 closed

[2018-02-19 21:47] akshah123 commented on #440
Part of the confusion here is also that `issuer` is used to verify `audience`.

If this project is used from purely an SP perspective, using `issuer` to check against `audience` seems a little strange.

@capybaras do you have any insight into why that is?

[2018-02-19 21:48] akshah123 commented on #430
@pitbulk Why use issuer to check against audience in this case and not just allow an option for audience directly?

[2018-02-19 22:00] pitbulk commented on #430
That is how it was when I started to maintain that toolkit.

[2018-02-19 22:02] pitbulk commented on #440
Im agree that message is less confuse. But worried about breaking environments with that change. I will merge that in a new release properly versioned.

[2018-02-19 22:05] pitbulk commented on #440
@capybaras In SAML the "issuer" is the entity that generated the SAML message.

Im agree with you on the issuer/audience stuff... but was implemented like that at the begining of the project.

[2018-02-26 20:14] nbaki commented on #440
Yes, looks like issuer is mapping to audience on the IDP end, this shouldn't be the case.

[2018-02-27 16:10] capybaras commented on #440
The mixing of issuer and audience is a different issue, so perhaps we could open a separate issue for that one.

@pitbulk waiting for a new version makes sense

[2018-02-28 07:42] brianswko opened #443 "Audience validation is broken for empty audiences"
The change made in [lib/onelogin/ruby-saml/response.rb#L325](https://github.com/onelogin/ruby-saml/commit/048a544730930f86e46804387a6b6fad50d8176f#diff-00524fdf114f961e4ff1ff4a04fd8490R325) breaks assertions with self-closing Audience tags that look like `<saml:AudienceRestriction><saml:Audience/></saml:AudienceRestriction>`

`nodes.map { |node| Utils.element_text(node) }.compact` returns `[""]`

[2018-02-28 13:57] pitbulk commented on #443
Thanks for reporting that, we will investigate and provide a proper fix.

Meanwhile if that issue prevent you to fix your instance of the CVE-2017-11428 fix,
try use the 1.6.2 version I just released:
https://github.com/onelogin/ruby-saml/releases/tag/v1.6.2

[2018-02-28 15:09] chrisnicola commented on #399
@pitbulk I think the point everyone is making here is that these are patch and point releases and should not include breaking changes. By updating the version change should have been to 2.0.0 to communicate to people updating ruby-saml that they should check for breaking changes and update their code.

[2018-02-28 16:32] netikular commented on #443
We've downgraded to 1.6.2 and are still getting the audience error.

I diffed 1.6.1 and 1.6.2 and noticed that the change that is mentioned above is in 1.6.2 - I'm going to fork and try the code that is in the above commend and see if that resolves the issue for our production instances.  I'll reply back here with an update.

[2018-02-28 16:38] irvingreid commented on #443
I think the problem is in `def self.element_text` at https://github.com/onelogin/ruby-saml/blob/082249efe498841e0747d2b3452f4ef5e867b025/lib/onelogin/ruby-saml/utils.rb#L288
An element that contained no text nodes used to be treated as `nil` (REXML `node.text` returns `nil` if there are no text children), but is now `""` ([].join returns `""`).

I suggest changing line 289 to `element.texts.join i

[2018-02-28 16:48] netikular commented on #443
This is great, thanks for the pointer.

I am unfamiliar with the test suite is there a way that I can produce a base64 invalid response that contains this eventuality.

I would like to write a spec for this before I put in a PR.

[2018-02-28 16:49] brianswko commented on #443
Still seeing the problem in 1.6.2 as well. @irvingreid's suggestion makes sense to me as it solves the problem everywhere text needs to be read

[2018-02-28 16:59] irvingreid commented on #443
@netikular something like https://github.com/onelogin/ruby-saml/blob/master/test/responses/invalids/invalid_audience.xml.base64 but with the audience field empty
(aside: do all these test files need to be base64? it makes them hard to work with...)
Use https://www.samltool.com/decode.php to decode and extract the XML from the above example if you don't have base64 tools handy.

[2018-02-28 17:01] netikular commented on #443
@irvingreid exactly what I wanted to do - thanks for reminding me about the samltool.com resource.

I'll see about fixing up the test.

[2018-02-28 17:32] pitbulk commented on #443
@irvingreid

Thanks for your research, I'm also working on it.

[2018-02-28 17:40] netikular commented on #443
@pitbulk Opened a PR if it helps.  We're trying this fix on our production servers as we speak.

[2018-02-28 18:07] netikular commented on #443
@pitbulk I see I've pushed up a new change that uses the suggestion of @brianswko at the beginning of this issue.

All the tests pass ( old tests restored to how they were to behave ) including my new one.

[2018-02-28 18:16] pitbulk commented on #443
Appreciate, very nice team work. I will review carefully, merge and prepare a release 1.7.1

[2018-02-28 19:29] pitbulk commented on #443
https://github.com/onelogin/ruby-saml/releases/tag/v1.7.1

I will leave that issue open to give some visibility.

P.S Audience restriction adds security to your integration ;)

[2018-02-28 19:46] Umofomia opened #445 "Fix for CVE-2017-11428 does not normalize text before returning it"
[The fix for CVE-2017-11428](https://github.com/onelogin/ruby-saml/commit/048a544730930f86e46804387a6b6fad50d8176f) essentially replaced the call to `element.text` with [`element.texts.join`](https://github.com/onelogin/ruby-saml/commit/048a544730930f86e46804387a6b6fad50d8176f#diff-d3e2c1bdc6c1e8b207dd7ded3ae35320R289). However, the behavior of `text` differs from `texts` in the following way (**e

[2018-02-28 20:20] Umofomia commented on #445
I ended up creating pull request #446 to address this. If you decide it looks good once you review it, can a new version be released that has this fix? It's currently blocking our ability to deploy the fix for CVE-2017-11428. Thanks!

[2018-02-28 20:57] Umofomia commented on #445
I noticed you also backported the fix for CVE-2017-11428 to prior versions of ruby-saml too, so you may want to consider backporting this fix to those versions too.

[2018-02-28 21:03] pitbulk commented on #445
Hi, thanks for that research. We gonna review it and see if that change have any other implications and merge it asap when validated.

[2018-02-28 21:57] #445 closed

[2018-02-28 22:44] pitbulk commented on #445
Version 1.7.2 is live, thank for your research and PR

[2018-03-02 16:28] capybaras commented on #440
@pitbulk now that the 1.7.x security fixes are in, what version do you think this belongs in?

[2018-03-05 18:49] christopher-gordon opened #448 "JRuby failures on master since v1.6.2"
Apologies if this overlaps with another issue/PR.  It appears the JRuby tests have been failing on master since v1.6.2.

I'm unfortunately unable to help debug the issue, but I'm hoping someone else is able to spot the problem easily.  I'm attempting to upgrade from v1.3.1 to a version that is working in JRuby that also includes the fix for CVE-2017-11428.

Thanks for your help.

[2018-03-05 20:01] pitbulk commented on #448
I don't have a Jruby environment right now to debug.

Related to one of the errors,   Java::JavaLang::NullPointerException: nid not found for oid = '0.0'
I found:
- https://github.com/jruby/jruby-openssl/issues/42
- https://github.com/jruby/jruby-openssl/issues/57

so maybe is a new regression?

Rest of the errors seems related to the decryption process.

[2018-03-05 20:38] pitbulk commented on #448
I noticed that
* 1.6.1 past https://travis-ci.org/onelogin/ruby-saml/builds/329034111
* 1.6.1 And the same with just a modified README failed: https://travis-ci.org/onelogin/ruby-saml/builds/349484541

So something changed on the environment

[2018-03-05 22:07] tboyko commented on #70
@alperkokmen Typo? `0.7.2` is the most recent version available.

[2018-03-05 22:14] tboyko commented on #322
@omulmicsinegru The recipient field can be set in OneLogin under the "Configuration" tab.

[2018-03-06 10:56] pitbulk commented on #448
@christopher-gordon  Try to git clone the repository in a different path but using the same environment that your main project and try to execute the test there, I guess them will pass in your environment.

[2018-03-06 17:21] tomilaine commented on #448
I cloned the repo and run the tests locally with jruby 9.1.13.0. No errors.
(468 runs, 1211 assertions, 0 failures, 0 errors, 1 skips)

[2018-03-06 17:26] pitbulk commented on #448
Ty @tomilaine so is a Travis CI stuff.

[2018-03-06 19:40] tomilaine commented on #448
Tests pass locally for jruby 1.7.27 as well.

[2018-03-07 17:42] alperkokmen commented on #70
@tboyko nope, [`0.7.3` was a release](https://github.com/onelogin/ruby-saml/releases/tag/0.7.3). It's fairly out-of-date at this point though. I would recommend using the latest version if you can.

[2018-03-09 23:09] christopher-gordon commented on #448
Thanks for the quick responses on this, everyone.  Sounds like this can be closed.

[2018-03-09 23:09] #448 closed

[2018-03-16 21:33] soupmatt opened #451 "Saml Response validation fails unexpectedly if there is no samlp:Response/saml:Assertion/saml:Conditions element and the skip_conditions option is true"
When there is no `samlp:Response/saml:Assertion/saml:Conditions` element in the Saml Response, validation will still fail if skip_conditions is true, because `OneLogin::RubySaml::Response#validate_one_conditions` doesn't respect the `skip_conditions` flag like `OneLogin::RubySaml::Response#validate_conditions` does.

I'm happy to submit a pull request to fix it if you guys are open to that. It loo

[2018-03-16 21:54] pitbulk commented on #451
Yes, I think it makes sense.

[2018-03-17 23:17] #451 closed

[2018-04-04 14:07] luax commented on #433
I too would like to add `Organization` and `ContactPerson` to metadata.

I haven't looked at the code closely but how about adding this data to settings? A quick solution would maybe be an optional `additional_elements` list containing any `REXML::Element` one would want, in this case `md:Organization` and `md:ContactPerson`, for example:
[code]

Then in `Metadata.generate`
[code]

Or instead of a

[2018-04-12 13:46] farnazr opened #455 "urn:oasis:names:tc:SAML:1.1:nameidformat:unspecified for NameID not supported"
NameIDs provided by the IDP I am working with are strings and not email addresses for SAML subject: http://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf#page=78

The IDP is configured for nameId like this:
<md:NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified</md:NameIDFormat>

I see the following error when trying to get the response:

**_Cannot provide requested na

[2018-04-18 22:42] #455 closed

[2018-04-23 12:34] #443 closed

[2018-05-16 12:57] metelkinas commented on #390
Ruby-saml Assertion Consumer Endpoint does not support HTTP-Redirect binding ?

[2018-05-16 12:59] pitbulk commented on #390
No

[2018-05-16 13:00] metelkinas commented on #390
Thank you very much!

[2018-05-29 15:32] HarlemSquirrel opened #459 "JRuby 9.2.0.0 Warnings"
After bumping my project to the newly release JRuby 9.2.0.0 I received the following warnings while running my test suite.

[code]

[2018-06-07 11:56] #459 closed

[2018-06-08 14:29] soupmatt opened #463 "samltool.com returning errors when validating AuthnRequests"
I couldn't find a way to submit a onelogin support ticket without being a customer, so I'm opening a ticket here. I was trying to validate a AuthnRequest using https://www.samltool.com/validate_authn_req.php. No matter what I enter, it returns `Invalid array settings: idp_cert_or_fingerprint_not_found_and_required`. I saw that this issue was raised in onelogin/php-saml#298 a couple weeks ago, but

[2018-06-08 15:45] pitbulk commented on #463
Thanks for reporting it.

We were already aware. Fixed it but still not deployed patches on the server.

[2018-06-12 14:38] acontero opened #464 "Enforcing Session Timeouts or Continuously Re-authenticating Against the IdP?"
Hey, this is sort of a general inquiry rather than an issue with particular code. But in your Best Practices Docs for SAML it talks about enforcing session timeouts. `https://developers.onelogin.com/saml/best-practices-and-faqs` And it says:

I have a customer who is concerned about the session never expiring so I was looking into the SAML token expiration and this advice in your docs. However, th

[2018-06-12 16:11] pitbulk commented on #464
If your IdP supports it, you can execute AuthNRequest with Passive="true" to verify if you get back a SAMLResponse on your ACS endpoint with Status="Sucess", otherwise, the SAMLResponse will have a different status that means that the IdP session was closed and re-authentication is needed there, so you can then on your app close the session and redirect the user to start a SP-initiated SSO.

[2018-06-13 00:07] angelicas commented on #464
@pitbulk Thanks so much for this info! It's possible that my customer wants SLO which we have not yet implemented. But I think the passive flag sounds more along the lines of what they are requesting. I had no idea you could make a passive SAML auth request. Fascinating! So do you know if it is customary for people to make regular passive auth requests in order to ensure that the user is still val

[2018-07-03 18:04] davidlibrera opened #466 "Many Attribute Services"
I noticed that the current implementation of ruby-saml allow to insert into metadata just only one
```<md:AttributeConsumingService />```
 https://github.com/onelogin/ruby-saml/blob/b0301c9da6c5c1674c29a8544c9e32d153bdbcca/lib/onelogin/ruby-saml/settings.rb#L28
 while [SAML specification for Metadata](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf), at line 752 allow the p

[2018-07-09 11:27] rlazoryshchak opened #467 "No possibility specify ResponseLocation for SingleLogoutService"
I couldn't find the way to specify `ResponseLocation` for `SingleLogoutService`. From tests both links the same:
[code]
From the [code](https://github.com/onelogin/ruby-saml/blob/c6da73baefeec891c9e0ded91fb4b123a48ce0a7/lib/onelogin/ruby-saml/metadata.rb#L67) you can see that `ResponseLocation == Location`. Might `ResponseLocation` to be equal `assertion_consumer_logout_service_url`? Please correc

[2018-07-09 11:37] pitbulk commented on #467
Its ok to have both endpoints Location and ResponseLocation as the same endpoint, and in that endpoint check if a LogoutRequest or a LogoutResponse was received.

See that [example](https://github.com/onelogin/ruby-saml-example/blob/master/app/controllers/saml_controller.rb#L45) that manages all the SLO scenarios (SLO SP initiated (send and receive), SLO initiated (receive and send),

[2018-07-09 12:29] pitbulk commented on #467
And why is different? As I showed in the example, can be handled in a unique endpoint.

[2018-07-09 13:05] rlazoryshchak commented on #467
Ok, will try to do as in example above. Thank you for help.

[2018-08-20 17:31] maxfelsher opened #469 "Update installation instructions with latest stable version?"
In the `Gemfile` installation instructions in README.md, it suggests that 1.0.x is the latest stable version.

[code]

Based on Rubygems and the release list on GitHub, it looks like 1.8.0 is stable (as are many releases before it). Should the readme be updated to reflect that?

[2018-08-21 08:58] #469 closed

[2018-08-28 15:56] jhubert opened #470 "Raw Parameters for SloLogoutRequest?"
Any guidance on how to get the raw parameters in Ruby on Rails for the `raw_get_parameters` hash in the new SloLogoutResponse setup?

I ended up using `request.query_parameters`, which seems to skip the encoding processing that `params` goes through. Is that what you're referring to here or is there some other approach we should be looking at?

For reference to others, since I had a had time on th

[2018-08-28 17:03] pitbulk commented on #470
The use of raw_get_params was introduced with https://github.com/onelogin/ruby-saml/pull/418

I'm not a Rails expert, but I think you can get them with [raw_post](https://api.rubyonrails.org/classes/ActionDispatch/Request.html#method-i-raw_post) or [original_url](https://api.rubyonrails.org/classes/ActionDispatch/Request.html#method-i-original_url)

[2018-08-29 05:10] jhubert commented on #470
Thanks for the nudge @pitbulk!

This was annoying.. but it looks like we got it. Here's what I'm using, for reference before we clean it up:

[code]

[2018-08-29 08:28] pitbulk commented on #470
I see,

If is working for you, we can add this to the documentation to help other devs.
are you interesting in contributing with a PR to the README?

[2018-08-29 16:14] jhubert commented on #470
Definitely. Let me clean it up and I'll get a PR made.

On Wed, Aug 29, 2018 at 3:28 AM Sixto Martin <notifications@github.com>
wrote:

[2018-09-10 00:34] rqbanerjee commented on #387
This is how I got my application controller to not validate CSRF for init and consume, the two methods i implemented in my saml_controller.rb:

[code]

[2018-09-10 01:42] rqbanerjee commented on #442
I found that both of these settings were necessary. This is the current finger print for okta:
[code]

[2018-09-24 07:14] Yu-Chieh-Henry-Yang opened #472 "Response#issuers detects <Issuer> tag but not <Issuer xmlns=\"something-here\">"
My app use devise_saml_authenticatable, which use ruby-saml.

When doing SP initiated logged out (I had to monkey patch to get this to work), my IDP will send back a response, that response contains this:

`<Issuer xmlns=\"urn:oasis:names:tc:SAML:2.0:assertion\">http://my-own-url</Issuer>
`

My app respond to the above response from IDP by some controller method and I have a before_action method t

[2018-09-25 00:29] Yu-Chieh-Henry-Yang commented on #472
I think I see the problem now.

The reason that I fail for SP initiated logout is because (if my understanding is correct) the devise_saml_authenticatable gem doesn't actually support SP initiated logout and only support IDP initiated logout.

Even though I monkey patch the devise and devise_saml_authenticatable code to make it do SP initiated logout, it still use the devise_saml_authenticatable's

[2018-09-25 00:29] #472 closed

[2018-09-27 16:37] #467 closed

[2018-09-27 16:38] #440 closed

[2018-09-27 16:38] #463 closed

[2018-09-27 16:39] #430 closed

[2018-09-27 16:40] pitbulk commented on #470
@jhubert any progress?

[2018-09-27 16:51] #429 closed

[2018-10-05 20:00] nunziofiore opened #473 "OpenSSL::PKey::RSAError (Neither PUB key nor PRIV key: nested asn1 error):"
It's all ok with that library but I have this error
`
OpenSSL::PKey::RSAError (Neither PUB key nor PRIV key: nested asn1 error):`

on Single Logout.
It seems that is when library read the private_key
[code]

error is at OpenSSL::PKey::RSA.new

Someone can help me? I don't understand the error!

[2018-10-08 11:48] pitbulk commented on #473
How are you providing that Private key?

Can you try to copy the formatted_private_key, save it in a file and try to validate it with the openssl command?
[code]

[2018-10-08 11:52] nunziofiore commented on #473
I found that it was a problem of passphrase. I didn't find in ruby-saml a way to pass the passphrase and also the Util formatter it seems to give a wrong data.
I can fix the problem like this: https://github.com/nunziofiore/ruby-saml/commit/6264bcf12d9536f739271baf3d93a9200d8c69a7

[2018-10-08 12:02] pitbulk commented on #473
Yes, the toolkit is not able to manage private keys with a passphrase.

You can also remove the passphrase:
https://knowledge.digicert.com/solution/SO5292.html

At the end, having the private key encrypted, but the secret for unencrypting it in the same setting file is not far away than having the private key directly unencrypted,

[2018-10-08 12:07] nunziofiore commented on #473
Ok great, I'll try that way. Thank you

[2018-10-08 12:07] #473 closed

[2018-10-09 17:22] RohitVenturit opened #474 "Is this library is onelogin specific only?"
Is this library is onelogin specific only or I can use it for in-common federation as well?

[2018-10-09 17:41] pitbulk commented on #474
Can be used for any Identity Provide that supports SAML

[2018-10-09 17:41] #474 closed

[2018-10-09 18:30] RohitVenturit commented on #474
Thanks for reply. This sentence in readme file makes sense as it would stop
raising such tickets.

On Tue 9 Oct, 2018, 11:12 PM Sixto Martin, <notifications@github.com> wrote:

[2018-10-23 09:32] RohitVenturit opened #476 "Shibboleth logout issue"
I am facing problem in logout

here is snipped from code:
relayState =  url_for controller: 'saml', action: 'index'
redirect_to(logout_request.create(settings, :RelayState => relayState))

Here is the screenshot of the error.
<img width="1276" alt="screen shot 2018-10-23 at 2 54 35 pm" src="https://user-images.githubusercontent.com/40765501/47350911-8ce48f00-d6d4-11e8-83ec-c02bea9a86c5.png">

[2018-10-23 09:37] pitbulk commented on #476
Is the Single logout Service value of the "Configuration" tab of the OneLogin's connector properly configured?

[2018-10-23 09:40] RohitVenturit commented on #476
Yes, here is screenshot of configuration tab.

[2018-10-23 09:45] pitbulk commented on #476
I found where the issue is.

What is wrong is the ruby-saml settings.

As the IdP single logout service value, you may set
[code]

Right now you have a wrong value.

[2018-10-23 10:03] RohitVenturit commented on #476
Tried. Did not worked. Same issue persist.

[2018-10-23 10:06] pitbulk commented on #476
Can you export and send to my mail the SAML Tracer as well as screenshots of the SAML settings of OneLogin's connector and toolkit?

P.S My email is on my profile.

[2018-10-23 14:41] RohitVenturit opened #477 "issue in redirecting back to SP"
I am trying to redirect  back to SP from this code snippet of **sp_logout_request** method but user is stopping at https://app.onelogin.com/login.  Any issue here?

    relayState =  url_for controller: 'saml', action: 'index'
    redirect_to(logout_request.create(settings, :RelayState => relayState))

[2018-10-23 17:52] #476 closed

[2018-10-23 17:56] pitbulk commented on #477
is that the same issue than
https://github.com/onelogin/ruby-saml/issues/477 ?

Please confirm.

[2018-10-23 19:32] RohitVenturit commented on #477
plz check #477 again